<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/bluedevil-5.14.2.tar.xz">bluedevil-5.14.2</a></td>
   <td align="right">153kB</td>
   <td><tt>41a90fc7503bd450ab4b99f41fe7facce81756a741a251da8e4030bd1c6cedda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/breeze-5.14.2.tar.xz">breeze-5.14.2</a></td>
   <td align="right">23MB</td>
   <td><tt>843fea3115a0d2e4058ca3b298da521f6dddbe9dd0d2d991c1052209087f8c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/breeze-grub-5.14.2.tar.xz">breeze-grub-5.14.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d7c331da84dcdf922cd82e31c79bb5fabd43efb350fc8501222b04307475b443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/breeze-gtk-5.14.2.tar.xz">breeze-gtk-5.14.2</a></td>
   <td align="right">196kB</td>
   <td><tt>d59e1462486337be311a50ff8cf986996968e92c79c4e47ede2a537c2a462613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/breeze-plymouth-5.14.2.tar.xz">breeze-plymouth-5.14.2</a></td>
   <td align="right">102kB</td>
   <td><tt>f9b0a0daeda489bf6afa197813d0ad1ade3291fd06450c537ca0a3011b255871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/discover-5.14.2.tar.xz">discover-5.14.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>22d79fb561812c3917ffb26d690083c4f23339c80d71d8620c9ab6b1c4fabdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/drkonqi-5.14.2.tar.xz">drkonqi-5.14.2</a></td>
   <td align="right">717kB</td>
   <td><tt>b4e82c99e253c60b7cab74ff3605b38357870e8dae400e5e4f93730549237759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kactivitymanagerd-5.14.2.tar.xz">kactivitymanagerd-5.14.2</a></td>
   <td align="right">83kB</td>
   <td><tt>84f7811f114542ec32364be6ba033b51f7d3f97bde5cc14ab94c812d30230ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kde-cli-tools-5.14.2.tar.xz">kde-cli-tools-5.14.2</a></td>
   <td align="right">571kB</td>
   <td><tt>45293807d975c82b4c919607050e6dce16825443a7543d06c71ef6e613b8eed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kde-gtk-config-5.14.2.tar.xz">kde-gtk-config-5.14.2</a></td>
   <td align="right">152kB</td>
   <td><tt>2b8236d09ebe4cc51c39f109d2913479c003ed8d5a2d49faf43deca4b14c88b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kdecoration-5.14.2.tar.xz">kdecoration-5.14.2</a></td>
   <td align="right">41kB</td>
   <td><tt>956101615de3257769daf8363bca78da0e2ce61687f5851ce9f14732a191a0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kdeplasma-addons-5.14.2.tar.xz">kdeplasma-addons-5.14.2</a></td>
   <td align="right">588kB</td>
   <td><tt>85e1b7e4d85e12a2f0b4d367770a20cc13c414d1bbe0f6d66567e14f7f2e9014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kgamma5-5.14.2.tar.xz">kgamma5-5.14.2</a></td>
   <td align="right">77kB</td>
   <td><tt>01f6ecad30f7b398d0e232e28033da53dce8a53f6273d072c0873601b937d68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/khotkeys-5.14.2.tar.xz">khotkeys-5.14.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b20e3c2b2f276d0ab20eb78263fbcffd46df44f8a7c2440d14f312226fa57d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kinfocenter-5.14.2.tar.xz">kinfocenter-5.14.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>5a659e5c62b9f949807f29fb2efbac48ccb75454a575533dfd7ce6bd7f855c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kmenuedit-5.14.2.tar.xz">kmenuedit-5.14.2</a></td>
   <td align="right">752kB</td>
   <td><tt>0b7ff23e706dac15217c57bd9e469f3bba2dd4aa6ba21dd0ad244f8d7d871e39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kscreen-5.14.2.tar.xz">kscreen-5.14.2</a></td>
   <td align="right">118kB</td>
   <td><tt>ec3cacce45c2fcca39bc180371d1274672411662d4eefcb83d4b0f26db5c384d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kscreenlocker-5.14.2.tar.xz">kscreenlocker-5.14.2</a></td>
   <td align="right">118kB</td>
   <td><tt>8944af2f5a0d305e6cff3694adaec16ee5f752ac6ec1881b24ed5ca7d5cae1f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/ksshaskpass-5.14.2.tar.xz">ksshaskpass-5.14.2</a></td>
   <td align="right">20kB</td>
   <td><tt>77645cdda6e84c0721b62dc713cdceb3efe6c90a12954b9410ece8e77104b41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/ksysguard-5.14.2.tar.xz">ksysguard-5.14.2</a></td>
   <td align="right">487kB</td>
   <td><tt>dd65d71c5019197b2e492b57c8c8b76683f86f6a5bbb80eab49483bda8de5ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kwallet-pam-5.14.2.tar.xz">kwallet-pam-5.14.2</a></td>
   <td align="right">18kB</td>
   <td><tt>0c50994451c776d6a022ec7f974249bb548ad56c7dc1f7200c4c6cd6724e1b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kwayland-integration-5.14.2.tar.xz">kwayland-integration-5.14.2</a></td>
   <td align="right">18kB</td>
   <td><tt>564da927ed070acb43884fad11c596644051ea927ca12d393986f4a84ea95ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kwin-5.14.2.tar.xz">kwin-5.14.2</a></td>
   <td align="right">6.2MB</td>
   <td><tt>3588a25e5c160aedffa01cec06c513fb3934a117be194d04dcd61d9777440971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/kwrited-5.14.2.tar.xz">kwrited-5.14.2</a></td>
   <td align="right">19kB</td>
   <td><tt>d70ef30a45fae90fcc8290af4a2981e645db985fb36e18b013e4177857192822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/libkscreen-5.14.2.tar.xz">libkscreen-5.14.2</a></td>
   <td align="right">77kB</td>
   <td><tt>375b2f9383db90a8fddc4020835ebc404d27ccdfd0c5027686d8bd9f524b17b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/libksysguard-5.14.2.tar.xz">libksysguard-5.14.2</a></td>
   <td align="right">559kB</td>
   <td><tt>9dacdb907c3efe4cc4861dc987d8cc24607281651e72e0f8be0116d8b5cb60b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/milou-5.14.2.tar.xz">milou-5.14.2</a></td>
   <td align="right">55kB</td>
   <td><tt>34db72be3bdc990b7233573e5fcbe914ef414351857cb88e8d0011e01f613b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/oxygen-5.14.2.tar.xz">oxygen-5.14.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6ef788ea576d972883b3e97c7ce35a1ce6134533a8242cdf14f16bcb2799a0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-browser-integration-5.14.2.tar.xz">plasma-browser-integration-5.14.2</a></td>
   <td align="right">105kB</td>
   <td><tt>4ff64139dcb3420d5a90d1b182a901e43e6527896a227f200896dbb099f61e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-desktop-5.14.2.tar.xz">plasma-desktop-5.14.2</a></td>
   <td align="right">8.7MB</td>
   <td><tt>2802937927449856334a1ad14b3009c96e19dc88eeda0e1657cc23b514a41180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-integration-5.14.2.tar.xz">plasma-integration-5.14.2</a></td>
   <td align="right">52kB</td>
   <td><tt>be4d15eb7c8728b8e3c16b539397cdee93c8a87d553d4d781e99334239f4f27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-nm-5.14.2.tar.xz">plasma-nm-5.14.2</a></td>
   <td align="right">697kB</td>
   <td><tt>ff65e8b5c60f01583a104cc069df80e3853168316fb6eba855fecbeeb3223cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-pa-5.14.2.tar.xz">plasma-pa-5.14.2</a></td>
   <td align="right">92kB</td>
   <td><tt>683f00ebd332b219ca7df86fcb1c6c47894af2402b03cc649558db8d4771185b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-sdk-5.14.2.tar.xz">plasma-sdk-5.14.2</a></td>
   <td align="right">242kB</td>
   <td><tt>d297dac501b13e79b6128bc2be58a9a586263f02291ab1e263e6060fe0b1d4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-tests-5.14.2.tar.xz">plasma-tests-5.14.2</a></td>
   <td align="right">1kB</td>
   <td><tt>6ac050bb7297047dbbeebf49d37bf131232910328aa3208747849a9ed9371ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-vault-5.14.2.tar.xz">plasma-vault-5.14.2</a></td>
   <td align="right">117kB</td>
   <td><tt>28fd0b530eeca4374da7cb61f3444a8c5e40fd921e30d4f86d5c2bc0aa256820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-workspace-5.14.2.tar.xz">plasma-workspace-5.14.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b065ce1e9a2c5c3c6806f8680d4d6a837a3c4a788adc562e98bd01272cfd2cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plasma-workspace-wallpapers-5.14.2.tar.xz">plasma-workspace-wallpapers-5.14.2</a></td>
   <td align="right">43MB</td>
   <td><tt>e8ff3f245af7592bfaf9a927afa49cf98b472bfc229edbf544202405b3dfcdc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/plymouth-kcm-5.14.2.tar.xz">plymouth-kcm-5.14.2</a></td>
   <td align="right">38kB</td>
   <td><tt>ec72c0934d588a856b46fc0bef0cf347ed236b87091913290c32054d061ac67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/polkit-kde-agent-1-5.14.2.tar.xz">polkit-kde-agent-1-5.14.2</a></td>
   <td align="right">41kB</td>
   <td><tt>daa38fe52534a6c9cc1701675b5cf6639ed41a7b8325f8ed79f97eeb8ea4711e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/powerdevil-5.14.2.tar.xz">powerdevil-5.14.2</a></td>
   <td align="right">583kB</td>
   <td><tt>96a333a3c8da4e863877b6e3520b90dafa0fc4a250ad9e7c5793f34ae0ee40dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/sddm-kcm-5.14.2.tar.xz">sddm-kcm-5.14.2</a></td>
   <td align="right">59kB</td>
   <td><tt>9b788e67dc4672e3656d6fa551b251be0627834dcd45880168eb3cf0b6e1b2a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/systemsettings-5.14.2.tar.xz">systemsettings-5.14.2</a></td>
   <td align="right">174kB</td>
   <td><tt>b992f52e712f272c7ecd0e37476c290b47ee2f3516af48fa57d27c303f63b987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/user-manager-5.14.2.tar.xz">user-manager-5.14.2</a></td>
   <td align="right">532kB</td>
   <td><tt>02ef15a20c517728133a31c12d259314c5a9432944b5446731768aceffb4d39b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.2/xdg-desktop-portal-kde-5.14.2.tar.xz">xdg-desktop-portal-kde-5.14.2</a></td>
   <td align="right">49kB</td>
   <td><tt>ba98a1be265f823537c06ba946e0730f3acd88de7d1d71791f4fa0f2e4b84f8d</tt></td>
</tr>

</table>
