<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/akonadi-16.07.90.tar.xz">akonadi-16.07.90</a></td>
   <td align="right">997kB</td>
   <td><tt>a3f5ed0dd992a2d693d18e65c0d3e094c60f2ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/akonadi-calendar-16.07.90.tar.xz">akonadi-calendar-16.07.90</a></td>
   <td align="right">112kB</td>
   <td><tt>f11cff10b946e1641605e0312763a32ca97078cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/akonadi-contacts-16.07.90.tar.xz">akonadi-contacts-16.07.90</a></td>
   <td align="right">145kB</td>
   <td><tt>6e7f777df1999b2684694ac014dfcc618f083599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/akonadi-mime-16.07.90.tar.xz">akonadi-mime-16.07.90</a></td>
   <td align="right">54kB</td>
   <td><tt>848efb56c9e7539f36ed2643b1bde091fe68b8b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/akonadi-notes-16.07.90.tar.xz">akonadi-notes-16.07.90</a></td>
   <td align="right">18kB</td>
   <td><tt>c290baa79c47ddacef9a39997ccf381a185deb51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/akonadi-search-16.07.90.tar.xz">akonadi-search-16.07.90</a></td>
   <td align="right">69kB</td>
   <td><tt>2cb9288d9f9f85eac5c9eda6cc9de8550f8c310c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/analitza-16.07.90.tar.xz">analitza-16.07.90</a></td>
   <td align="right">229kB</td>
   <td><tt>9ed186c0725f1c63ad35f9b2c1461f89dc8102e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ark-16.07.90.tar.xz">ark-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c828761440983970d2e618178da0c1973fa0806f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/artikulate-16.07.90.tar.xz">artikulate-16.07.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>503f6ccbf1ba9fc4cf587243d1d477df63cb0e45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/audiocd-kio-16.07.90.tar.xz">audiocd-kio-16.07.90</a></td>
   <td align="right">50kB</td>
   <td><tt>c928fe7232867e7d1707e8e9975c387e353c6d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/baloo-widgets-16.07.90.tar.xz">baloo-widgets-16.07.90</a></td>
   <td align="right">55kB</td>
   <td><tt>d6b62229d1484f4f8b70e94d40876a3f3d9167d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/blinken-16.07.90.tar.xz">blinken-16.07.90</a></td>
   <td align="right">549kB</td>
   <td><tt>7a7464228de8186e1a7bbc45ed016d0e9fd2b763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/bomber-16.07.90.tar.xz">bomber-16.07.90</a></td>
   <td align="right">698kB</td>
   <td><tt>417a67bef575400b36374ff9818e78b23fc511fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/bovo-16.07.90.tar.xz">bovo-16.07.90</a></td>
   <td align="right">135kB</td>
   <td><tt>0a6618673658fffb6727f3b9c606264a24c2689c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/calendarsupport-16.07.90.tar.xz">calendarsupport-16.07.90</a></td>
   <td align="right">97kB</td>
   <td><tt>5beefa2b073455a5d935fc9376098adddcebba57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/cantor-16.07.90.tar.xz">cantor-16.07.90</a></td>
   <td align="right">352kB</td>
   <td><tt>22a97273ca89e66724df529fad7ed902fcd4699b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/cervisia-16.07.90.tar.xz">cervisia-16.07.90</a></td>
   <td align="right">449kB</td>
   <td><tt>4796d096e334a62fcc8263230bb481be44fb450b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/dolphin-16.07.90.tar.xz">dolphin-16.07.90</a></td>
   <td align="right">659kB</td>
   <td><tt>9b0dc17bdc461d8134cb92d81b7518c24030c8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/dolphin-plugins-16.07.90.tar.xz">dolphin-plugins-16.07.90</a></td>
   <td align="right">59kB</td>
   <td><tt>b310b012d6fe88cb70ff5290e76789353853db0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/dragon-16.07.90.tar.xz">dragon-16.07.90</a></td>
   <td align="right">467kB</td>
   <td><tt>506eb703e07b5b144f1ab3246206b2d130aab613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/eventviews-16.07.90.tar.xz">eventviews-16.07.90</a></td>
   <td align="right">143kB</td>
   <td><tt>cefe84aaa7a5feb147cce7aa6e8c4344a7b81b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ffmpegthumbs-16.07.90.tar.xz">ffmpegthumbs-16.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>f9731d9e8df437aa92d746629da0b9a15f03dd96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/filelight-16.07.90.tar.xz">filelight-16.07.90</a></td>
   <td align="right">207kB</td>
   <td><tt>09a7ce8c4c8a546f593bad5ad9ca0c7a159e8b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/gpgmepp-16.07.90.tar.xz">gpgmepp-16.07.90</a></td>
   <td align="right">66kB</td>
   <td><tt>435e06955c6d360ee5834f6773b3c6061a49e329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/granatier-16.07.90.tar.xz">granatier-16.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b21a5077c7b74363f82bf2695ecdabeb1909c06b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/grantleetheme-16.07.90.tar.xz">grantleetheme-16.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>2bd42e1795ccfac58a1a3d0291265fbabc363c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/gwenview-16.07.90.tar.xz">gwenview-16.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b7431409b41eb437cdff9b0aa5f209ce91090eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/incidenceeditor-16.07.90.tar.xz">incidenceeditor-16.07.90</a></td>
   <td align="right">117kB</td>
   <td><tt>91dacb7a8917b36ef9613c80e6adbb0d24fb31b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/jovie-16.07.90.tar.xz">jovie-16.07.90</a></td>
   <td align="right">384kB</td>
   <td><tt>fc5156a343a086a0ef3a3226527a2e210146d284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/juk-16.07.90.tar.xz">juk-16.07.90</a></td>
   <td align="right">435kB</td>
   <td><tt>dd8bc920b40ffa3a2aa9ea2c8e663a7e013b8e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kaccessible-16.07.90.tar.xz">kaccessible-16.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>6b68f8d844ae444ed34c9481dedbdaf566213b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kaccounts-integration-16.07.90.tar.xz">kaccounts-integration-16.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>a5a0d928d70472f8de2fecccca9fb1e7ed9e0443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kaccounts-providers-16.07.90.tar.xz">kaccounts-providers-16.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>bc3d6fc0bdee70e2e22401d90260e62effe8845a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kajongg-16.07.90.tar.xz">kajongg-16.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bbbd7a46d442e566fc57581c0460c0dfce4e0cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kalarmcal-16.07.90.tar.xz">kalarmcal-16.07.90</a></td>
   <td align="right">85kB</td>
   <td><tt>2480c9063928b6c8075203b4d798f5d194365502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kalgebra-16.07.90.tar.xz">kalgebra-16.07.90</a></td>
   <td align="right">316kB</td>
   <td><tt>ed94735ef3952ca0e0c32250dfa3cd8019b1c0ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kalzium-16.07.90.tar.xz">kalzium-16.07.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>4cfc90d9c0048d2594e1092dd213b260de1fc1c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kamera-16.07.90.tar.xz">kamera-16.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>8de0b3a7c7229c61d5d7a7694d9650149b7d46c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kanagram-16.07.90.tar.xz">kanagram-16.07.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>5d48b197a24a20130ac9cfaf3df6eef492697a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kapman-16.07.90.tar.xz">kapman-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b8c3164cd196b2a698db2d0a66bfb96fdec09da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kapptemplate-16.07.90.tar.xz">kapptemplate-16.07.90</a></td>
   <td align="right">390kB</td>
   <td><tt>9a069a4f6db4a55d2c9096788d9b5f08127db24f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kate-16.07.90.tar.xz">kate-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>88c91ea2635d98d08d7d9ec589968383d8f68c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/katomic-16.07.90.tar.xz">katomic-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b450419a17a5d882ed9ac90c3f635b624b3c824f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kblackbox-16.07.90.tar.xz">kblackbox-16.07.90</a></td>
   <td align="right">216kB</td>
   <td><tt>95f75506da5ebb5ead1b29278a9da66a5721ae8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kblocks-16.07.90.tar.xz">kblocks-16.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>89ad99afb3d12b755c4f77163985a9eb885a6bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kblog-16.07.90.tar.xz">kblog-16.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>289289a9d23bb041713d142a17216575ef8b3612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kbounce-16.07.90.tar.xz">kbounce-16.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>49c51b393ef4e7443687146a44f63dfaf61a29f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kbreakout-16.07.90.tar.xz">kbreakout-16.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ebfca037966d64f155c5649f5e92e8f59ebdad93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kbruch-16.07.90.tar.xz">kbruch-16.07.90</a></td>
   <td align="right">700kB</td>
   <td><tt>8951f458eb4ee9bdc8d38aeafacd38462d5dc2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcachegrind-16.07.90.tar.xz">kcachegrind-16.07.90</a></td>
   <td align="right">232kB</td>
   <td><tt>6dc03bae1f6e4571650b146e60379091bb9f19a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcalc-16.07.90.tar.xz">kcalc-16.07.90</a></td>
   <td align="right">81kB</td>
   <td><tt>23e8e040b9d72bc3bee05ae45e2978cbc169a518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcalcore-16.07.90.tar.xz">kcalcore-16.07.90</a></td>
   <td align="right">288kB</td>
   <td><tt>dd4c756524078ba81820c876126044176814d979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcalutils-16.07.90.tar.xz">kcalutils-16.07.90</a></td>
   <td align="right">92kB</td>
   <td><tt>e4b24f0e873dd748bca35514123b2967ee4f331d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcharselect-16.07.90.tar.xz">kcharselect-16.07.90</a></td>
   <td align="right">90kB</td>
   <td><tt>be4bacb417b631d5f0a90a977fb93cc8720158cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcolorchooser-16.07.90.tar.xz">kcolorchooser-16.07.90</a></td>
   <td align="right">4kB</td>
   <td><tt>23a441108ead149f03d95f5d3f67fdb9f9b7619c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcontacts-16.07.90.tar.xz">kcontacts-16.07.90</a></td>
   <td align="right">141kB</td>
   <td><tt>227781e51bf7baa1697c0a3072df3d3a810b85b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kcron-16.07.90.tar.xz">kcron-16.07.90</a></td>
   <td align="right">136kB</td>
   <td><tt>885bfaf3eed29f3f3dc341d805b98ca8158104eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-baseapps-16.07.90.tar.xz">kde-baseapps-16.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1126c7ff30dfb13a0cf39c7fc6846db830f99ead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdebugsettings-16.07.90.tar.xz">kdebugsettings-16.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>45f8f382b3c2e9c9d1b94b0308fdff2dc84d4007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-dev-scripts-16.07.90.tar.xz">kde-dev-scripts-16.07.90</a></td>
   <td align="right">303kB</td>
   <td><tt>01dfb60a791545df12d7056a17917b4b53a40c95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-dev-utils-16.07.90.tar.xz">kde-dev-utils-16.07.90</a></td>
   <td align="right">50kB</td>
   <td><tt>1e3d9834ee0cfb38d262a8dd292a7e15e7266514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdeedu-data-16.07.90.tar.xz">kdeedu-data-16.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>b55ce3f69a2cb46fe9e9609a86370395aec1d655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdegraphics-mobipocket-16.07.90.tar.xz">kdegraphics-mobipocket-16.07.90</a></td>
   <td align="right">14kB</td>
   <td><tt>8f6b78d2db5024b5700073487e7e0471856bceff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdegraphics-thumbnailers-16.07.90.tar.xz">kdegraphics-thumbnailers-16.07.90</a></td>
   <td align="right">40kB</td>
   <td><tt>576674a7f2b7636df4db5890bda80e58753b953c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdenetwork-filesharing-16.07.90.tar.xz">kdenetwork-filesharing-16.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>3b8c2cb50922aff18a114d0b1b0c8914f997ccef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdenlive-16.07.90.tar.xz">kdenlive-16.07.90</a></td>
   <td align="right">6.2MB</td>
   <td><tt>661c52212c4b21f83a2b1120c9434fec1c908674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdepim-16.07.90.tar.xz">kdepim-16.07.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>ba6c19116bd7d5e3c3f4c2381983c7530c3b7f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdepim-addons-16.07.90.tar.xz">kdepim-addons-16.07.90</a></td>
   <td align="right">275kB</td>
   <td><tt>81cb22dd9acd2944c9fbab94b7eb3ab6c6e81bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdepim-apps-libs-16.07.90.tar.xz">kdepim-apps-libs-16.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>dd17dc1f836cc4fe18ada0936b99dd3314c3616b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdepim-runtime-16.07.90.tar.xz">kdepim-runtime-16.07.90</a></td>
   <td align="right">726kB</td>
   <td><tt>7b1621621439b75c890e1929626daa6370cfed73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-runtime-16.07.90.tar.xz">kde-runtime-16.07.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>07ba850e43e4999cf84213530ba271a23ba57507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdesdk-kioslaves-16.07.90.tar.xz">kdesdk-kioslaves-16.07.90</a></td>
   <td align="right">353kB</td>
   <td><tt>d46e19400ab788362ad461e58344c67c1f7310cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdesdk-thumbnailers-16.07.90.tar.xz">kdesdk-thumbnailers-16.07.90</a></td>
   <td align="right">11kB</td>
   <td><tt>70f7278d1fea6eea542f072450685a8f28dbb946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdewebdev-16.07.90.tar.xz">kdewebdev-16.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>aff80692f81bbc73078929694eb26785c765ab3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdf-16.07.90.tar.xz">kdf-16.07.90</a></td>
   <td align="right">140kB</td>
   <td><tt>98ff1b9c7e50b2f35278de222eccdae25a977fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdgantt2-16.07.90.tar.xz">kdgantt2-16.07.90</a></td>
   <td align="right">53kB</td>
   <td><tt>3ebecc597fafa85d10fb0b2d3cfe7a18f526d813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kdiamond-16.07.90.tar.xz">kdiamond-16.07.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ed58e31f4a7d239e1ee681e7bada4dd61092cff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kfloppy-16.07.90.tar.xz">kfloppy-16.07.90</a></td>
   <td align="right">52kB</td>
   <td><tt>66432e35e0d21f77da3fb460ac01b25989601947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kfourinline-16.07.90.tar.xz">kfourinline-16.07.90</a></td>
   <td align="right">449kB</td>
   <td><tt>faf351545cb20ae220fafbec00ab6e128f2c0724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kgeography-16.07.90.tar.xz">kgeography-16.07.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>822253a31308ee8790e250eeff21167fa4063df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kget-16.07.90.tar.xz">kget-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>97c3facdbb13c21a8a6737bcb76c5a0c77c99ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kgoldrunner-16.07.90.tar.xz">kgoldrunner-16.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>11bcf608dd5ca67451af52d1c0ece82383227f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kgpg-16.07.90.tar.xz">kgpg-16.07.90</a></td>
   <td align="right">791kB</td>
   <td><tt>6b98d68e93174da566f1bcbef35e8df66031975f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/khangman-16.07.90.tar.xz">khangman-16.07.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>75fcc9b429b87ee1327cf4258c0f7c324d46f443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/khelpcenter-16.07.90.tar.xz">khelpcenter-16.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>25da9918f97ec989f6ace277f1ab3767bc9a0f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kholidays-16.07.90.tar.xz">kholidays-16.07.90</a></td>
   <td align="right">171kB</td>
   <td><tt>5883f019fa3ecee729109ab6795e46c44e9d3e4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kidentitymanagement-16.07.90.tar.xz">kidentitymanagement-16.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>deb1b416744fad5bfba73b83b4b7b39b9b96d65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kig-16.07.90.tar.xz">kig-16.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5cf2c9c5d8fd3bf7fd5acc22f2c05bd46d6446f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kigo-16.07.90.tar.xz">kigo-16.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4c7e3758c1c516aa7f84723109b0999cf2882349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/killbots-16.07.90.tar.xz">killbots-16.07.90</a></td>
   <td align="right">940kB</td>
   <td><tt>9071504fbbe0a4dc117c4e134f5e1023ec367f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kimap-16.07.90.tar.xz">kimap-16.07.90</a></td>
   <td align="right">89kB</td>
   <td><tt>1714080e2e3e4564809e0fec7d0c0c8bccf1963c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kio-extras-16.07.90.tar.xz">kio-extras-16.07.90</a></td>
   <td align="right">271kB</td>
   <td><tt>6cc35d2dcba65a6a31f35cadbcec698889147466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kiriki-16.07.90.tar.xz">kiriki-16.07.90</a></td>
   <td align="right">252kB</td>
   <td><tt>5a8c84cab461642b1198ddcd52d4837077f66367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kiten-16.07.90.tar.xz">kiten-16.07.90</a></td>
   <td align="right">10MB</td>
   <td><tt>b6b6e847a5d7f51e6cfae25debd5125fa36a2222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kjumpingcube-16.07.90.tar.xz">kjumpingcube-16.07.90</a></td>
   <td align="right">132kB</td>
   <td><tt>9e82b43a77012f4e2854aea2f0b0c40f24474694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kldap-16.07.90.tar.xz">kldap-16.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>784af6db3e0c201cb39544e4bca4cbc0e54932fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kleopatra-16.07.90.tar.xz">kleopatra-16.07.90</a></td>
   <td align="right">714kB</td>
   <td><tt>12ecd4d29e48c84096d0e8d1e70e3e173521f906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/klettres-16.07.90.tar.xz">klettres-16.07.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>e4c4338aa43e72859e4b116fe053f166b338df19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/klickety-16.07.90.tar.xz">klickety-16.07.90</a></td>
   <td align="right">649kB</td>
   <td><tt>2505fe98afd049821620d28a338e310364cf8edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/klines-16.07.90.tar.xz">klines-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>523d59320c6998306311fc82942c76b272b6b1c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmag-16.07.90.tar.xz">kmag-16.07.90</a></td>
   <td align="right">84kB</td>
   <td><tt>2b077299fd17428a016c166d78e1be4b86731a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmahjongg-16.07.90.tar.xz">kmahjongg-16.07.90</a></td>
   <td align="right">988kB</td>
   <td><tt>ee0221e4d6a40b759dda7e972fd82f306ffbd31b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmailtransport-16.07.90.tar.xz">kmailtransport-16.07.90</a></td>
   <td align="right">88kB</td>
   <td><tt>17aca74796f7a83d01bafda11e3608a9132c5ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmbox-16.07.90.tar.xz">kmbox-16.07.90</a></td>
   <td align="right">23kB</td>
   <td><tt>39241ffb0ef3e4e92e638d194f99f5d022650abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmime-16.07.90.tar.xz">kmime-16.07.90</a></td>
   <td align="right">119kB</td>
   <td><tt>6a698cf8385d9d1b3637fa717c62211e7e7121ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmines-16.07.90.tar.xz">kmines-16.07.90</a></td>
   <td align="right">646kB</td>
   <td><tt>fd2985e4c558ab51cb891ce3336db966348d4166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmix-16.07.90.tar.xz">kmix-16.07.90</a></td>
   <td align="right">380kB</td>
   <td><tt>4206851a0764902d104d99aea17f9c7dad9394e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmousetool-16.07.90.tar.xz">kmousetool-16.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>08d9ef3b147a9a5e772f12c924b4b7bda81728d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmouth-16.07.90.tar.xz">kmouth-16.07.90</a></td>
   <td align="right">270kB</td>
   <td><tt>d6539cd06bd6c7a9b7485ed17f35ae93ad9d9041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kmplot-16.07.90.tar.xz">kmplot-16.07.90</a></td>
   <td align="right">558kB</td>
   <td><tt>ee13a98f90f0e8ec31e6daeee8de82780b2af6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/knavalbattle-16.07.90.tar.xz">knavalbattle-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f47a1873ac64253e7a45ff5e047447bdde0bdf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/knetwalk-16.07.90.tar.xz">knetwalk-16.07.90</a></td>
   <td align="right">883kB</td>
   <td><tt>eee3ca197451b84e6fb96dd2b90c190c583dcdbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kolf-16.07.90.tar.xz">kolf-16.07.90</a></td>
   <td align="right">749kB</td>
   <td><tt>2bbc1876d2563d28065743ff22fddfb5fbcb1243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kollision-16.07.90.tar.xz">kollision-16.07.90</a></td>
   <td align="right">221kB</td>
   <td><tt>d756dd7715307bced70bdd32fc319d800c307b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kolourpaint-16.07.90.tar.xz">kolourpaint-16.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>936413a195c8380721166fc90620e3b3f4ff9bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kompare-16.07.90.tar.xz">kompare-16.07.90</a></td>
   <td align="right">231kB</td>
   <td><tt>403e65dc71d12e4195765a2a16a05a52ebbbfbf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/konquest-16.07.90.tar.xz">konquest-16.07.90</a></td>
   <td align="right">396kB</td>
   <td><tt>4b1054abacd3d3ae08a0f06a92b8d541f913b162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/konsole-16.07.90.tar.xz">konsole-16.07.90</a></td>
   <td align="right">452kB</td>
   <td><tt>a392a6f807961618a613ab224bc45c37887cb6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kontactinterface-16.07.90.tar.xz">kontactinterface-16.07.90</a></td>
   <td align="right">24kB</td>
   <td><tt>33839d48f3adc3dff232ba264a6d183820548bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kopete-16.07.90.tar.xz">kopete-16.07.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>02cf6f0542abcc45fe5d53c337a6c4444f9dd7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kpat-16.07.90.tar.xz">kpat-16.07.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f927434fa47ca69b343bd00b067752ea8839261f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kpimtextedit-16.07.90.tar.xz">kpimtextedit-16.07.90</a></td>
   <td align="right">76kB</td>
   <td><tt>33826f03777120ded3c4795d026619250d2209fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kppp-16.07.90.tar.xz">kppp-16.07.90</a></td>
   <td align="right">683kB</td>
   <td><tt>ba77db95a82e3c6e6c9c53174a5fd66996ed1368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kqtquickcharts-16.07.90.tar.xz">kqtquickcharts-16.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>88ccd2c41958e5f9949d541feae0e1ad0120de23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/krdc-16.07.90.tar.xz">krdc-16.07.90</a></td>
   <td align="right">284kB</td>
   <td><tt>b88d7e57cb32cc4849f8ac073bde473fd89c2c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kremotecontrol-16.07.90.tar.xz">kremotecontrol-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2b241dedd7686ac4294f4f886aab2832e7fae7be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kreversi-16.07.90.tar.xz">kreversi-16.07.90</a></td>
   <td align="right">464kB</td>
   <td><tt>2ddfca566389c9ea52483488d7258d65efd8587e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/krfb-16.07.90.tar.xz">krfb-16.07.90</a></td>
   <td align="right">317kB</td>
   <td><tt>02658a760d1fc51f91188697424c95c88320175c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kross-interpreters-16.07.90.tar.xz">kross-interpreters-16.07.90</a></td>
   <td align="right">141kB</td>
   <td><tt>e95e3984b62644b2ccb4e97ce35001df4f99a209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kruler-16.07.90.tar.xz">kruler-16.07.90</a></td>
   <td align="right">120kB</td>
   <td><tt>b12fe4d3375f1bf2029b615c21b3d1cb8bb3ae55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ksaneplugin-16.07.90.tar.xz">ksaneplugin-16.07.90</a></td>
   <td align="right">12kB</td>
   <td><tt>fb8c49ed164bcec1a7bd91d7827b526d38e69dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kscd-16.07.90.tar.xz">kscd-16.07.90</a></td>
   <td align="right">90kB</td>
   <td><tt>b7d51b7e05174635b095c8a6351707783d652730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kshisen-16.07.90.tar.xz">kshisen-16.07.90</a></td>
   <td align="right">335kB</td>
   <td><tt>dfed562331a5264da066b959680c98dab5541c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ksirk-16.07.90.tar.xz">ksirk-16.07.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>5fd79613174019c6f8fa92e2152d070e6c50179c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ksnakeduel-16.07.90.tar.xz">ksnakeduel-16.07.90</a></td>
   <td align="right">291kB</td>
   <td><tt>dbfe6f5972db3e7cce7706833b5007322456ae3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kspaceduel-16.07.90.tar.xz">kspaceduel-16.07.90</a></td>
   <td align="right">247kB</td>
   <td><tt>bf770d431a4c5bac3c8589a34dbfe762c60b3ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ksquares-16.07.90.tar.xz">ksquares-16.07.90</a></td>
   <td align="right">133kB</td>
   <td><tt>631c199a6be7f94cccdd82feac4ab550f4e14a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kstars-16.07.90.tar.xz">kstars-16.07.90</a></td>
   <td align="right">16MB</td>
   <td><tt>2cd63034cd7d0d82ca619192dfac9bebe6655b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ksudoku-16.07.90.tar.xz">ksudoku-16.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>85195c4f0731da258c3d889119b73eb158116847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ksystemlog-16.07.90.tar.xz">ksystemlog-16.07.90</a></td>
   <td align="right">342kB</td>
   <td><tt>7764a4fc9fd0a21fd4c6d9e15a66906e9b73b08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kteatime-16.07.90.tar.xz">kteatime-16.07.90</a></td>
   <td align="right">88kB</td>
   <td><tt>7308fcf19e126ab83d419882db4f20238988cdcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktimer-16.07.90.tar.xz">ktimer-16.07.90</a></td>
   <td align="right">157kB</td>
   <td><tt>e0d9cc7134da1a129f117491212807fdeff698c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktnef-16.07.90.tar.xz">ktnef-16.07.90</a></td>
   <td align="right">227kB</td>
   <td><tt>8703b3d9f4d0286facc536b2b08e0f491e61bdee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktouch-16.07.90.tar.xz">ktouch-16.07.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>332e9c256819699c126978fc4554cfcf3ddfd6b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-accounts-kcm-16.07.90.tar.xz">ktp-accounts-kcm-16.07.90</a></td>
   <td align="right">87kB</td>
   <td><tt>4d9eb1c1f0644f135e780ea8ad9eae9c6ed72ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-approver-16.07.90.tar.xz">ktp-approver-16.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>941c41d6e3ed0212e570a5c11dcba2a32f10c53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-auth-handler-16.07.90.tar.xz">ktp-auth-handler-16.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>9b9612bf164a120dcaf9fd49f7bb343f71f70cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-call-ui-16.07.90.tar.xz">ktp-call-ui-16.07.90</a></td>
   <td align="right">44kB</td>
   <td><tt>f56fe0fe73565bcc19df865db27b9e79e851cb06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-common-internals-16.07.90.tar.xz">ktp-common-internals-16.07.90</a></td>
   <td align="right">309kB</td>
   <td><tt>f9541dbbc22b0436eb03f617d7949ce4e3de8054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-contact-list-16.07.90.tar.xz">ktp-contact-list-16.07.90</a></td>
   <td align="right">47kB</td>
   <td><tt>afd24a33809c67192e582fc23f55cea4fd249d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-contact-runner-16.07.90.tar.xz">ktp-contact-runner-16.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>aee538649a45517291aef9575e5b1700f14980a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-desktop-applets-16.07.90.tar.xz">ktp-desktop-applets-16.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>02632f01244b6b1ebfed038e19c56c4376822442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-filetransfer-handler-16.07.90.tar.xz">ktp-filetransfer-handler-16.07.90</a></td>
   <td align="right">22kB</td>
   <td><tt>067921aa192b35881253a579d41b109003e0a0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-kded-module-16.07.90.tar.xz">ktp-kded-module-16.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>8c2afa327f4e0a00eb30a19e154a190fdfffd759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-send-file-16.07.90.tar.xz">ktp-send-file-16.07.90</a></td>
   <td align="right">14kB</td>
   <td><tt>a23af887b0140d47281e5055eb7d39f947b5c7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktp-text-ui-16.07.90.tar.xz">ktp-text-ui-16.07.90</a></td>
   <td align="right">287kB</td>
   <td><tt>29fcbde9960b8f5173b326b3dc067a3706d10409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/ktuberling-16.07.90.tar.xz">ktuberling-16.07.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>550e879de321db3d60e42ad95ba765af79bf07b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kturtle-16.07.90.tar.xz">kturtle-16.07.90</a></td>
   <td align="right">189kB</td>
   <td><tt>986cebcd08799aabc80a86601ca22c28957a2095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kubrick-16.07.90.tar.xz">kubrick-16.07.90</a></td>
   <td align="right">104kB</td>
   <td><tt>f5027b63260f5098a35a921c33f937a188cd3f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kuser-16.07.90.tar.xz">kuser-16.07.90</a></td>
   <td align="right">132kB</td>
   <td><tt>91f5ff577ac370ea31c9d4f84a73576a8c870b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kwalletmanager-16.07.90.tar.xz">kwalletmanager-16.07.90</a></td>
   <td align="right">447kB</td>
   <td><tt>c4416dfd5fa6b3ba1e2ff00596643476fda2ccd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kwordquiz-16.07.90.tar.xz">kwordquiz-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a1e6d81471e51ee6910d08f58a9e8e9c97c8c6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libgravatar-16.07.90.tar.xz">libgravatar-16.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>b05f6dcc1027d22036a7733b949154d42d90d0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkcddb-16.07.90.tar.xz">libkcddb-16.07.90</a></td>
   <td align="right">154kB</td>
   <td><tt>128779fc35174420e62a475adba473da1767b3bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkcompactdisc-16.07.90.tar.xz">libkcompactdisc-16.07.90</a></td>
   <td align="right">74kB</td>
   <td><tt>3ca1af81204df2cf6cbfe11c7359f9546745af38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkdcraw-16.07.90.tar.xz">libkdcraw-16.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>bc6c0e8323a4dcac32a597309aa7d2dca52c1e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkdegames-16.07.90.tar.xz">libkdegames-16.07.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>ac49ca626ddcc700afa1aa0a4a293e7083f1e422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkdepim-16.07.90.tar.xz">libkdepim-16.07.90</a></td>
   <td align="right">111kB</td>
   <td><tt>66efdc158d0aacb0d8e9d814bf9acac93e5d31f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkeduvocdocument-16.07.90.tar.xz">libkeduvocdocument-16.07.90</a></td>
   <td align="right">89kB</td>
   <td><tt>1cb8cffe9460e2a0fce51faa3f8223f3815142fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkexiv2-16.07.90.tar.xz">libkexiv2-16.07.90</a></td>
   <td align="right">63kB</td>
   <td><tt>0c2482faed1439a31e53414979133db52c95dd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkface-16.07.90.tar.xz">libkface-16.07.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>ab892e07fc8d29921c25e77b77173723ed7161ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkgeomap-16.07.90.tar.xz">libkgeomap-16.07.90</a></td>
   <td align="right">122kB</td>
   <td><tt>40fc68f46a338c5307ad3561f7cc8f125903ff6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkipi-16.07.90.tar.xz">libkipi-16.07.90</a></td>
   <td align="right">101kB</td>
   <td><tt>59ecf2b1b9b6260408c1854f5129a95d002a307e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkleo-16.07.90.tar.xz">libkleo-16.07.90</a></td>
   <td align="right">140kB</td>
   <td><tt>5f4284242cd993a2430474da1e8a1ff11064d4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkmahjongg-16.07.90.tar.xz">libkmahjongg-16.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2079e92619093ec1447ac74c37b5fc37e8c12a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libkomparediff2-16.07.90.tar.xz">libkomparediff2-16.07.90</a></td>
   <td align="right">55kB</td>
   <td><tt>ab8cfae57b2f0553d8e472426389ccc06e42e34d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libksane-16.07.90.tar.xz">libksane-16.07.90</a></td>
   <td align="right">79kB</td>
   <td><tt>4e42a37eb3533462fae2d538916ace6178e3d66b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/libksieve-16.07.90.tar.xz">libksieve-16.07.90</a></td>
   <td align="right">162kB</td>
   <td><tt>7d878a4a5dafe510e71b7b66d461f2ce0e85c194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/lokalize-16.07.90.tar.xz">lokalize-16.07.90</a></td>
   <td align="right">934kB</td>
   <td><tt>1c2cd0a9f17aecae5e22329ea9a5066042d1a1c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/lskat-16.07.90.tar.xz">lskat-16.07.90</a></td>
   <td align="right">906kB</td>
   <td><tt>0ea6ae791c3a491307e444ead029b8f1c3e5f44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/mailcommon-16.07.90.tar.xz">mailcommon-16.07.90</a></td>
   <td align="right">181kB</td>
   <td><tt>77a287617136e31fec6e75dcdcc26cf1e75771c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/mailimporter-16.07.90.tar.xz">mailimporter-16.07.90</a></td>
   <td align="right">373kB</td>
   <td><tt>a0e3181d002e25a5d1dbebd0765e11e96336f845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/marble-16.07.90.tar.xz">marble-16.07.90</a></td>
   <td align="right">22MB</td>
   <td><tt>e37759a47c342daca7e53e30ebb25238a4473a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/messagelib-16.07.90.tar.xz">messagelib-16.07.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d0043935b507f19392d2885d8dd39511854e87aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/minuet-16.07.90.tar.xz">minuet-16.07.90</a></td>
   <td align="right">25MB</td>
   <td><tt>938e1a8b095ae8fe86418702bc81daaf0a7efdef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/okteta-16.07.90.tar.xz">okteta-16.07.90</a></td>
   <td align="right">494kB</td>
   <td><tt>bfdb449d0743a3190cad7b4c7c598a9c6e360712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/okular-16.07.90.tar.xz">okular-16.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>21ea6efba1401c104430b2f9d1c73e92c7de547b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/palapeli-16.07.90.tar.xz">palapeli-16.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>55abfea44472e765958d2059f6580925e563b4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/parley-16.07.90.tar.xz">parley-16.07.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>6ae05809e60e683e919803b2a0f934de07e8391e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/picmi-16.07.90.tar.xz">picmi-16.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>56102a1e79a6dfb084ac752acd0a8f452fcdde86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/pimcommon-16.07.90.tar.xz">pimcommon-16.07.90</a></td>
   <td align="right">149kB</td>
   <td><tt>72adf1a73a712a9635cb5e01008f875df2f8ef25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/poxml-16.07.90.tar.xz">poxml-16.07.90</a></td>
   <td align="right">31kB</td>
   <td><tt>1b090978623bd0f7709d5ee7aa9652673219b2ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/print-manager-16.07.90.tar.xz">print-manager-16.07.90</a></td>
   <td align="right">91kB</td>
   <td><tt>745e315df06c20670e43ba5576800fce4823a083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/rocs-16.07.90.tar.xz">rocs-16.07.90</a></td>
   <td align="right">519kB</td>
   <td><tt>5c6b5da8b6134416e97bc41f55f31a0816c20ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/signon-kwallet-extension-16.07.90.tar.xz">signon-kwallet-extension-16.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>48cd3d78fd29c3589fcbebdc3b99593faefeb264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/spectacle-16.07.90.tar.xz">spectacle-16.07.90</a></td>
   <td align="right">976kB</td>
   <td><tt>7b33a0ed505d5c47957d347194a3cb1480a72413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/step-16.07.90.tar.xz">step-16.07.90</a></td>
   <td align="right">380kB</td>
   <td><tt>8bd54b830745b1ef5cede4c5536c0cb037771f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/svgpart-16.07.90.tar.xz">svgpart-16.07.90</a></td>
   <td align="right">8kB</td>
   <td><tt>28b0fe44e70ac0029ca4b84a682f06033898eb6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/sweeper-16.07.90.tar.xz">sweeper-16.07.90</a></td>
   <td align="right">80kB</td>
   <td><tt>06ae018846520ed6f6c08c240f2bff162159cb99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/syndication-16.07.90.tar.xz">syndication-16.07.90</a></td>
   <td align="right">156kB</td>
   <td><tt>7ba62d513e8028d097948888d606757f84ddae25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/umbrello-16.07.90.tar.xz">umbrello-16.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9f15d54fe12f4a7e6d77c1b5a752f53e5b40ac91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/zeroconf-ioslave-16.07.90.tar.xz">zeroconf-ioslave-16.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>b9a054de7d094ba52cb9b6c3972354d2205cb862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ar-16.07.90.tar.xz">kde-l10n-ar-16.07.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>6ae7a0918153c65e3dabf4a432262ee8f3f2bf58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ast-16.07.90.tar.xz">kde-l10n-ast-16.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d1a55faed9fe96d115dd1f27193e0a248f67632f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-bg-16.07.90.tar.xz">kde-l10n-bg-16.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e9a240683a05627fea18ddfc6d84a7970c4a17a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-bs-16.07.90.tar.xz">kde-l10n-bs-16.07.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4593c34f41e24ba5e0226040087b898bd5076e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ca-16.07.90.tar.xz">kde-l10n-ca-16.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>4db075e9c5c41c57a56593bdc5f04d823966681f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ca@valencia-16.07.90.tar.xz">kde-l10n-ca@valencia-16.07.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>53c59ed8fa9da9ad8f00195ce85b5eedeebce342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-cs-16.07.90.tar.xz">kde-l10n-cs-16.07.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ed2c17c18f75369f13431bd627459b1f34d2febe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-da-16.07.90.tar.xz">kde-l10n-da-16.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>bbc29d82286947e64ca87d242b76f9cb008d67d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-de-16.07.90.tar.xz">kde-l10n-de-16.07.90</a></td>
   <td align="right">32MB</td>
   <td><tt>372cb2fc91f9f0bd7789915174937aa33351e4a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-el-16.07.90.tar.xz">kde-l10n-el-16.07.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>d9d882643a1551e17c211bca76e8fd78fed4d46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-en_GB-16.07.90.tar.xz">kde-l10n-en_GB-16.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>541d0e7076c3ed074a1fd6d90ab3459649fd4ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-eo-16.07.90.tar.xz">kde-l10n-eo-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c9960b146b35e75027fcd681ff596d78b0a0de57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-es-16.07.90.tar.xz">kde-l10n-es-16.07.90</a></td>
   <td align="right">17MB</td>
   <td><tt>c921b6e94022c249379536ef8a39b7f708ddf068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-et-16.07.90.tar.xz">kde-l10n-et-16.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>c6ca8369e6d2247b39a5ac5a46ee4e07a5c3aef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-eu-16.07.90.tar.xz">kde-l10n-eu-16.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6ec3b61a504fdeb33703874c81736fe922b53239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-fa-16.07.90.tar.xz">kde-l10n-fa-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>73c4e18753d2068c2809e8828b73ddf6c4168168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-fi-16.07.90.tar.xz">kde-l10n-fi-16.07.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9b5e6bf99ad3626fcbe0f3cd63116da3d45f3969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-fr-16.07.90.tar.xz">kde-l10n-fr-16.07.90</a></td>
   <td align="right">44MB</td>
   <td><tt>8bcc8aac8832098b38c31c716865e3cb48bc0325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ga-16.07.90.tar.xz">kde-l10n-ga-16.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>17eeddb5c58ba7a0e9c3155a69de43e4fbb95e24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-gl-16.07.90.tar.xz">kde-l10n-gl-16.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>237289594c70985626f0d95144a142329c2af1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-he-16.07.90.tar.xz">kde-l10n-he-16.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1779a6b88f954d2cbf8de44a76ffc2c98b113df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-hi-16.07.90.tar.xz">kde-l10n-hi-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>595e4cee94e4dafd6e3a4dedc24bc7f51b2648b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-hr-16.07.90.tar.xz">kde-l10n-hr-16.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>52365088d58233df5d6f6d6ae077c7321e7fb717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-hu-16.07.90.tar.xz">kde-l10n-hu-16.07.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>c3238e331b53aae7218b3d7abd027205f227c88b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ia-16.07.90.tar.xz">kde-l10n-ia-16.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6f07c7b09d45865ed4eed4b8f37140b74700722e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-id-16.07.90.tar.xz">kde-l10n-id-16.07.90</a></td>
   <td align="right">548kB</td>
   <td><tt>ed1f971176cac0b93c14dd787c6a83706bd0a078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-is-16.07.90.tar.xz">kde-l10n-is-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>730aab6986e26ef1259231d15c710e6299c1615a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-it-16.07.90.tar.xz">kde-l10n-it-16.07.90</a></td>
   <td align="right">7.7MB</td>
   <td><tt>563edae0887fe524c3f5a2a23975ea25ef0a975c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ja-16.07.90.tar.xz">kde-l10n-ja-16.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c0a3f3469d36b5caf590d4ea78705584982789d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-kk-16.07.90.tar.xz">kde-l10n-kk-16.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c59fd7730317e3dd0fba5bb7827e288e63c1e202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-km-16.07.90.tar.xz">kde-l10n-km-16.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7f8445103a92e6e4f8246753f993c650b668d8c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ko-16.07.90.tar.xz">kde-l10n-ko-16.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>71e0966a12c03c3d8e5435b44fbe4382f6a99355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-lt-16.07.90.tar.xz">kde-l10n-lt-16.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>7fd57c941a0664da1dbef6e771d80c4541e124ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-lv-16.07.90.tar.xz">kde-l10n-lv-16.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>aeadfac227b6d199a0d4b378e25df271db42f137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-mr-16.07.90.tar.xz">kde-l10n-mr-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4b34e10ab46a76b514f032fd9ce187840cd6584f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-nb-16.07.90.tar.xz">kde-l10n-nb-16.07.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d0e25cec46a222b488cc5ffb810090073d3df897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-nds-16.07.90.tar.xz">kde-l10n-nds-16.07.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>56ca177c605567a74137095e946d3392905a8136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-nl-16.07.90.tar.xz">kde-l10n-nl-16.07.90</a></td>
   <td align="right">13MB</td>
   <td><tt>db16cc94c89959d98d168c19c1627738190c57ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-nn-16.07.90.tar.xz">kde-l10n-nn-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a0b2a38b9ad6611c4b7719678bbe51ac0ff35208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-pa-16.07.90.tar.xz">kde-l10n-pa-16.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2fe6ffc9a5dd2240f1559c538a33b07f71d9ddac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-pl-16.07.90.tar.xz">kde-l10n-pl-16.07.90</a></td>
   <td align="right">18MB</td>
   <td><tt>9c40b6b696e574aca0d290a1e2b6ded72cd21fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-pt-16.07.90.tar.xz">kde-l10n-pt-16.07.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>c0261c9c57d34c0b825f50c51565954d42a91230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-pt_BR-16.07.90.tar.xz">kde-l10n-pt_BR-16.07.90</a></td>
   <td align="right">20MB</td>
   <td><tt>8eba9987419d9f2ac60a81e0e9fd3bd9c97a2bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ro-16.07.90.tar.xz">kde-l10n-ro-16.07.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>85a7cc02b4765242fa2c209c90f9d130a66e60aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ru-16.07.90.tar.xz">kde-l10n-ru-16.07.90</a></td>
   <td align="right">21MB</td>
   <td><tt>ea0a384a9eed7ecae72794e1288b7e61478f1094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-sk-16.07.90.tar.xz">kde-l10n-sk-16.07.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>6a2fd81e348314bf18c2e7af0a24c2506779418a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-sl-16.07.90.tar.xz">kde-l10n-sl-16.07.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e980fe4135927d2b8f01a76714a832d87640e619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-sr-16.07.90.tar.xz">kde-l10n-sr-16.07.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>965073b21cc7e202c9c4cd9894a823552a458ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-sv-16.07.90.tar.xz">kde-l10n-sv-16.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>e93cb09579a0024a201d44bac473c126a2731f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-tr-16.07.90.tar.xz">kde-l10n-tr-16.07.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>c6c7894868dfaaa96fa5ff17308e4f933c08d1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-ug-16.07.90.tar.xz">kde-l10n-ug-16.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7cccabd6f830a56002ef436fe52770ff661daee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-uk-16.07.90.tar.xz">kde-l10n-uk-16.07.90</a></td>
   <td align="right">24MB</td>
   <td><tt>86270f2ae6e4327b6017575f142bb5cba65ae0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-wa-16.07.90.tar.xz">kde-l10n-wa-16.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e3ac09821ae421d13c86ea31a9d03dd0457babb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-zh_CN-16.07.90.tar.xz">kde-l10n-zh_CN-16.07.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9a9f8cbd9b32b3a9b8fd37429ebf6ba431d71a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/uunnstable/applications/16.07.90/src/kde-l10n/kde-l10n-zh_TW-16.07.90.tar.xz">kde-l10n-zh_TW-16.07.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b3b0c5fda7b00f142f588d33023c46f1e2df88d8</tt></td>
</tr>

</table>
