
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.28/kpackage-5.28.1.tar.xz">kpackage-5.28.1</a></td>
   <td align="right">160kB</td>
   <td><tt>3f07c7a7bfcfc269d388cb92bd190a9846320861</tt></td>
</tr>

</table>
