<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">MD5&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdeaccessibility-4.1.1.tar.bz2">kdeaccessibility-4.1.1</a></td><td align="right">6,1MB</td><td><tt>2e81aad070229a802630721cc6a4c44a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdeadmin-4.1.1.tar.bz2">kdeadmin-4.1.1</a></td><td align="right">1,8MB</td><td><tt>e6693bcbe96bb9453e79bd3201d8f757</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdeartwork-4.1.1.tar.bz2">kdeartwork-4.1.1</a></td><td align="right">41MB</td><td><tt>6e5ed770d7203f0c789512317d743e95</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdebase-4.1.1.tar.bz2">kdebase-4.1.1</a></td><td align="right">4,3MB</td><td><tt>33ab20f61aa33ed473fec710ad250ac7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdebase-runtime-4.1.1.tar.bz2">kdebase-runtime-4.1.1</a></td><td align="right">50MB</td><td><tt>f03488d19c3bd95634b797229ac55127</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdebase-workspace-4.1.1.tar.bz2">kdebase-workspace-4.1.1</a></td><td align="right">46MB</td><td><tt>53805b96727db2fe30773a3fa9f78b73</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdebindings-4.1.1.tar.bz2">kdebindings-4.1.1</a></td><td align="right">4,5MB</td><td><tt>4b9d6b9b3980327ccef34a44180824df</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdeedu-4.1.1.tar.bz2">kdeedu-4.1.1</a></td><td align="right">53MB</td><td><tt>f819cf9ae9c887f5787b5546de186604</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdegames-4.1.1.tar.bz2">kdegames-4.1.1</a></td><td align="right">31MB</td><td><tt>2d32f53d36016107cbeae01ee5e103c5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdegraphics-4.1.1.tar.bz2">kdegraphics-4.1.1</a></td><td align="right">3,3MB</td><td><tt>e5475d37dc0a12b6ce7e6dbebceb9340</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdelibs-4.1.1.tar.bz2">kdelibs-4.1.1</a></td><td align="right">8,8MB</td><td><tt>d75ec557cd864e3f9150059c3e58ed61</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdemultimedia-4.1.1.tar.bz2">kdemultimedia-4.1.1</a></td><td align="right">1,4MB</td><td><tt>efbf12cf33aafb13848fda258d001322</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdenetwork-4.1.1.tar.bz2">kdenetwork-4.1.1</a></td><td align="right">7,1MB</td><td><tt>e90ef5d3feccb4a2aade798ded81af28</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdepim-4.1.1.tar.bz2">kdepim-4.1.1</a></td><td align="right">13MB</td><td><tt>792ddf463a7ade5b4dbade0f8b7c3085</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdepimlibs-4.1.1.tar.bz2">kdepimlibs-4.1.1</a></td><td align="right">1,9MB</td><td><tt>36316f5fc5b2e0ec123a8e00a522dd80</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdeplasma-addons-4.1.1.tar.bz2">kdeplasma-addons-4.1.1</a></td><td align="right">3,9MB</td><td><tt>c36f023c799175927b260c78b9150810</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdesdk-4.1.1.tar.bz2">kdesdk-4.1.1</a></td><td align="right">4,7MB</td><td><tt>268ea539de7cd5b07dc24d24f593dde1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdetoys-4.1.1.tar.bz2">kdetoys-4.1.1</a></td><td align="right">1,3MB</td><td><tt>6150f3daa22bce44f777579f2c13038b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdeutils-4.1.1.tar.bz2">kdeutils-4.1.1</a></td><td align="right">2,2MB</td><td><tt>ba8d72606f71afcb649d2b9871815359</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.1.1/src/kdewebdev-4.1.1.tar.bz2">kdewebdev-4.1.1</a></td><td align="right">2,5MB</td><td><tt>15b3861e2746549fb3ae2c5448ba27ef</tt></td></tr>
</table>
