
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/attica-5.72.0.tar.xz">attica-5.72.0</a></td>
   <td align="right">65kB</td>
   <td><tt>cc24c469f9e989a7e8c96162e50487f7c844c36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/baloo-5.72.0.tar.xz">baloo-5.72.0</a></td>
   <td align="right">269kB</td>
   <td><tt>3c88a0b0dd86b53a3c43233cd4393f87fd2bdd02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/bluez-qt-5.72.0.tar.xz">bluez-qt-5.72.0</a></td>
   <td align="right">100kB</td>
   <td><tt>ec4d334c71ccf83965d9a1b422dd9f621e40e3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/breeze-icons-5.72.0.tar.xz">breeze-icons-5.72.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b3deca343d296bf2ad8cd898100a7186a18599ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/extra-cmake-modules-5.72.0.tar.xz">extra-cmake-modules-5.72.0</a></td>
   <td align="right">333kB</td>
   <td><tt>a11d48666923e7d6434d76b70f1a7d38462f98e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/frameworkintegration-5.72.0.tar.xz">frameworkintegration-5.72.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2fae8b2843437f8c2e2893c99c9e81428f7fbce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kactivities-5.72.0.tar.xz">kactivities-5.72.0</a></td>
   <td align="right">70kB</td>
   <td><tt>30f369bd66bc2f242d690961938ae97eda43c300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kactivities-stats-5.72.0.tar.xz">kactivities-stats-5.72.0</a></td>
   <td align="right">75kB</td>
   <td><tt>5ce8b39ac1451097ba0643f94139d9f82f5fb5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kapidox-5.72.0.tar.xz">kapidox-5.72.0</a></td>
   <td align="right">155kB</td>
   <td><tt>5cd85eef6050f4e99701cbbe5520f938806043f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/karchive-5.72.0.tar.xz">karchive-5.72.0</a></td>
   <td align="right">964kB</td>
   <td><tt>89b93ebf86a439d76eff4069893ceaa2a1d5a810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kauth-5.72.0.tar.xz">kauth-5.72.0</a></td>
   <td align="right">87kB</td>
   <td><tt>334285809b718cd87031039d948559f4ad1f5615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kbookmarks-5.72.0.tar.xz">kbookmarks-5.72.0</a></td>
   <td align="right">120kB</td>
   <td><tt>24a7a374a83b4a36ee80ed066d68c455a5110fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcalendarcore-5.72.0.tar.xz">kcalendarcore-5.72.0</a></td>
   <td align="right">248kB</td>
   <td><tt>026ea4ee0381a0d268134c17fe183ef3400fe328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcmutils-5.72.0.tar.xz">kcmutils-5.72.0</a></td>
   <td align="right">239kB</td>
   <td><tt>c55fec0154a6341b5c474e3569e004d446fe372f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcodecs-5.72.0.tar.xz">kcodecs-5.72.0</a></td>
   <td align="right">224kB</td>
   <td><tt>5489942f5f5cebc6699c97861f5086c0ca92300b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcompletion-5.72.0.tar.xz">kcompletion-5.72.0</a></td>
   <td align="right">120kB</td>
   <td><tt>179cb1c3d7977bbf11896e68d7825bb5a68a45f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kconfig-5.72.0.tar.xz">kconfig-5.72.0</a></td>
   <td align="right">255kB</td>
   <td><tt>98f06b0aff7afd016df4cc9e2ff37afcebb9fc2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kconfigwidgets-5.72.0.tar.xz">kconfigwidgets-5.72.0</a></td>
   <td align="right">374kB</td>
   <td><tt>2a3416f330b7a9551d496b45862cba6412046cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcontacts-5.72.0.tar.xz">kcontacts-5.72.0</a></td>
   <td align="right">532kB</td>
   <td><tt>7fff5011b3d1e1b204a7dd5aea5698627f488ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcoreaddons-5.72.0.tar.xz">kcoreaddons-5.72.0</a></td>
   <td align="right">396kB</td>
   <td><tt>39ac31bbe458dd5d5830d202e4938a20d3b89d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kcrash-5.72.0.tar.xz">kcrash-5.72.0</a></td>
   <td align="right">24kB</td>
   <td><tt>f210c6ac879632d8046308e1090f16ef8d6d0642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kdav-5.72.0.tar.xz">kdav-5.72.0</a></td>
   <td align="right">59kB</td>
   <td><tt>b661434e5fc7b9ac74ac64e1657f293d951a9452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kdbusaddons-5.72.0.tar.xz">kdbusaddons-5.72.0</a></td>
   <td align="right">43kB</td>
   <td><tt>ea4b16b7609bd27e3d570e04372871a660111a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kdeclarative-5.72.0.tar.xz">kdeclarative-5.72.0</a></td>
   <td align="right">172kB</td>
   <td><tt>7411d22868d0ec507fcf7f73fc86ffd5676c3278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kded-5.72.0.tar.xz">kded-5.72.0</a></td>
   <td align="right">37kB</td>
   <td><tt>eb248cad9344ca479b68b47c9f0ff7e857e5055c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kdesu-5.72.0.tar.xz">kdesu-5.72.0</a></td>
   <td align="right">46kB</td>
   <td><tt>aeb41a84cd613a7d239389e9ba89b779fabe1393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kdnssd-5.72.0.tar.xz">kdnssd-5.72.0</a></td>
   <td align="right">58kB</td>
   <td><tt>66e3285981ab1c34c63abd9129a166edf6faccde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kdoctools-5.72.0.tar.xz">kdoctools-5.72.0</a></td>
   <td align="right">416kB</td>
   <td><tt>748c3684c34535fef3ae4e5e5b34f90f106e4863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kemoticons-5.72.0.tar.xz">kemoticons-5.72.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8432dff314a3d6c055769d3d422c8505b6357ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kfilemetadata-5.72.0.tar.xz">kfilemetadata-5.72.0</a></td>
   <td align="right">415kB</td>
   <td><tt>3a567f5d0bb663a0d20e84321ba5d2aeb8d4e020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kglobalaccel-5.72.0.tar.xz">kglobalaccel-5.72.0</a></td>
   <td align="right">82kB</td>
   <td><tt>16d8f4594e9adcbc9a62cddcbd8420ad706379e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kguiaddons-5.72.0.tar.xz">kguiaddons-5.72.0</a></td>
   <td align="right">51kB</td>
   <td><tt>591c652485f7d7543b05953db95307cca01abde1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kholidays-5.72.0.tar.xz">kholidays-5.72.0</a></td>
   <td align="right">220kB</td>
   <td><tt>f93e713f78cb918b6b4e714106688c54e6770acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/ki18n-5.72.0.tar.xz">ki18n-5.72.0</a></td>
   <td align="right">577kB</td>
   <td><tt>8d434011cb3b59342fd73d6c98b588077ad344bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kiconthemes-5.72.0.tar.xz">kiconthemes-5.72.0</a></td>
   <td align="right">205kB</td>
   <td><tt>e26918476f73b0cd469bcbaae5f8bc40e7916002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kidletime-5.72.0.tar.xz">kidletime-5.72.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e94bf7ae339d9dbfc0f6ba87c633e0a98d43d027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kimageformats-5.72.0.tar.xz">kimageformats-5.72.0</a></td>
   <td align="right">394kB</td>
   <td><tt>f2a40a18fbbefcacc20c1a525f2024fef846be67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kinit-5.72.0.tar.xz">kinit-5.72.0</a></td>
   <td align="right">117kB</td>
   <td><tt>e76ac0c53de267c8e71b26b83e935daf1efbbc27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kio-5.72.0.tar.xz">kio-5.72.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>6f3a902626e7fe37202894feecdaa308bfbce247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kirigami2-5.72.0.tar.xz">kirigami2-5.72.0</a></td>
   <td align="right">266kB</td>
   <td><tt>677426fdef2fcbf38ef4ec193a849a00218ed072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kitemmodels-5.72.0.tar.xz">kitemmodels-5.72.0</a></td>
   <td align="right">390kB</td>
   <td><tt>1cc5573da440458476fb493959f429b5b9c572e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kitemviews-5.72.0.tar.xz">kitemviews-5.72.0</a></td>
   <td align="right">76kB</td>
   <td><tt>12b6b325b0fd379f085edf910c1c36542e742705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kjobwidgets-5.72.0.tar.xz">kjobwidgets-5.72.0</a></td>
   <td align="right">89kB</td>
   <td><tt>8486fd9bda23ee78e1123f93b4c96ac125ce58b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/knewstuff-5.72.0.tar.xz">knewstuff-5.72.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e21aad2b3ee4932b9fb742214c25eed13aeacecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/knotifications-5.72.0.tar.xz">knotifications-5.72.0</a></td>
   <td align="right">116kB</td>
   <td><tt>8bbc892f539ebdef636098d3f2a5f314357374c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/knotifyconfig-5.72.0.tar.xz">knotifyconfig-5.72.0</a></td>
   <td align="right">83kB</td>
   <td><tt>b28b679df9f8fc0619c2bcb0b6d07946c48ff892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kpackage-5.72.0.tar.xz">kpackage-5.72.0</a></td>
   <td align="right">139kB</td>
   <td><tt>bfca62c5a8ed094d80ee65e837ab18c20a190592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kparts-5.72.0.tar.xz">kparts-5.72.0</a></td>
   <td align="right">184kB</td>
   <td><tt>963205a5c1d0164d7d71f59e78aa11af37253bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kpeople-5.72.0.tar.xz">kpeople-5.72.0</a></td>
   <td align="right">60kB</td>
   <td><tt>ebb9aa76654268d8ccc7f040ab2e838d3d28669e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kplotting-5.72.0.tar.xz">kplotting-5.72.0</a></td>
   <td align="right">32kB</td>
   <td><tt>eb5c1fd3dd967485aeda0342bb58243ddb5f480f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kpty-5.72.0.tar.xz">kpty-5.72.0</a></td>
   <td align="right">59kB</td>
   <td><tt>90745166288cd1d634699d3e2de5aedab123895d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kquickcharts-5.72.0.tar.xz">kquickcharts-5.72.0</a></td>
   <td align="right">94kB</td>
   <td><tt>6d73e1c30dc49accc2478a13e4a0a9b1add14953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/krunner-5.72.0.tar.xz">krunner-5.72.0</a></td>
   <td align="right">65kB</td>
   <td><tt>9661ef31c90f1daece6278b9214053afaab667a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kservice-5.72.0.tar.xz">kservice-5.72.0</a></td>
   <td align="right">253kB</td>
   <td><tt>5f5a48745d29c1e976a33531037c47d6d30bdea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/ktexteditor-5.72.0.tar.xz">ktexteditor-5.72.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8c047ee941fecdb270725f7f0232f263fce34a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/ktextwidgets-5.72.0.tar.xz">ktextwidgets-5.72.0</a></td>
   <td align="right">315kB</td>
   <td><tt>84988d96cdc087b9622dba0007f4567b3b765a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kunitconversion-5.72.0.tar.xz">kunitconversion-5.72.0</a></td>
   <td align="right">837kB</td>
   <td><tt>10af3f243ce4eb141e4288b443b59384fb9585b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kwallet-5.72.0.tar.xz">kwallet-5.72.0</a></td>
   <td align="right">291kB</td>
   <td><tt>0a75c2d40c1c58336d6b32e50c92fa76dfd0d61b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kwayland-5.72.0.tar.xz">kwayland-5.72.0</a></td>
   <td align="right">339kB</td>
   <td><tt>e5d74b3010fe233cda8e0b8710ce0f4cc910532d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kwidgetsaddons-5.72.0.tar.xz">kwidgetsaddons-5.72.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>53235fee5ac35dd8b84b8a5aa883c37c3f5c1c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kwindowsystem-5.72.0.tar.xz">kwindowsystem-5.72.0</a></td>
   <td align="right">175kB</td>
   <td><tt>a4c3a242ba5b0368508fc14ed283eeec430dffb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/kxmlgui-5.72.0.tar.xz">kxmlgui-5.72.0</a></td>
   <td align="right">842kB</td>
   <td><tt>988a8eb98c52f10ad13a0ec4f91f05a258b41da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/modemmanager-qt-5.72.0.tar.xz">modemmanager-qt-5.72.0</a></td>
   <td align="right">111kB</td>
   <td><tt>60b79fc7dcecb64cc978019e53678be01c8e9425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/networkmanager-qt-5.72.0.tar.xz">networkmanager-qt-5.72.0</a></td>
   <td align="right">191kB</td>
   <td><tt>774c446b8a529694ecb5f3ec6f0d1809fe848fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/oxygen-icons5-5.72.0.tar.xz">oxygen-icons5-5.72.0</a></td>
   <td align="right">225MB</td>
   <td><tt>f172bd48a99211d75332ac21b3634cfb3838c598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/plasma-framework-5.72.0.tar.xz">plasma-framework-5.72.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3b087bdd84a53184039305ec763af6fab63a9481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/prison-5.72.0.tar.xz">prison-5.72.0</a></td>
   <td align="right">40kB</td>
   <td><tt>c7a236aacd3cbb1a173cb90195e2411c6fa01298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/purpose-5.72.0.tar.xz">purpose-5.72.0</a></td>
   <td align="right">151kB</td>
   <td><tt>b4a858f3c582b1e8f427ee4d76e56ec094b3418d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/qqc2-desktop-style-5.72.0.tar.xz">qqc2-desktop-style-5.72.0</a></td>
   <td align="right">57kB</td>
   <td><tt>8cb19cdea7db8107f00467b5abece411097aaaed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/solid-5.72.0.tar.xz">solid-5.72.0</a></td>
   <td align="right">263kB</td>
   <td><tt>d9f9345280ba14993013b080dbb593264c185c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/sonnet-5.72.0.tar.xz">sonnet-5.72.0</a></td>
   <td align="right">288kB</td>
   <td><tt>8609ba31e5b8c8942a916e1ecea1654851079569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/syndication-5.72.0.tar.xz">syndication-5.72.0</a></td>
   <td align="right">496kB</td>
   <td><tt>1803d1efcddf862ccebb0be7707cdd821faf161c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/syntax-highlighting-5.72.0.tar.xz">syntax-highlighting-5.72.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f7f24922215a2e7edaf572f2b1a9b38aebc8edd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.72/threadweaver-5.72.0.tar.xz">threadweaver-5.72.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f55356e5a85231b771e38169060bc4973c1f861f</tt></td>
</tr>

</table>
