<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/bluedevil-5.20.5.tar.xz">bluedevil-5.20.5</a></td>
   <td align="right">155kB</td>
   <td><tt>b3de4e903c5669a63688940513ab7035b90d5950635c824857ad8d6a9adbeb2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/breeze-5.20.5.tar.xz">breeze-5.20.5</a></td>
   <td align="right">14MB</td>
   <td><tt>d43845a34e08d393bac182d9ede863950d33e207c7f2841a8cd419aa182cf507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/breeze-grub-5.20.5.tar.xz">breeze-grub-5.20.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>a2063b12f8e9617e4565f9be58a14fd15172ecde26faca94bb466a939892e29d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/breeze-gtk-5.20.5.tar.xz">breeze-gtk-5.20.5</a></td>
   <td align="right">42kB</td>
   <td><tt>b4b4ce599bd23bf54101bdac7417daa4921b297b232622dc5a8a3426b97676ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/breeze-plymouth-5.20.5.tar.xz">breeze-plymouth-5.20.5</a></td>
   <td align="right">106kB</td>
   <td><tt>35b540996f5d16acaefa2ea327b914c9859bb57e955bb4705f3663a02bc7387a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/discover-5.20.5.tar.xz">discover-5.20.5</a></td>
   <td align="right">9.8MB</td>
   <td><tt>c5bad44f28f85782b011b775992a66b823920c44a8b898a6ff21bab53362b521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/drkonqi-5.20.5.tar.xz">drkonqi-5.20.5</a></td>
   <td align="right">738kB</td>
   <td><tt>09ee110748c3b257aa2f243f683d9d5712d89fb977459ffdb46bc65ab10882e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kactivitymanagerd-5.20.5.tar.xz">kactivitymanagerd-5.20.5</a></td>
   <td align="right">93kB</td>
   <td><tt>c800c2782884cdbb906c99709f8bbce4a45c5b9abde73cf4fa5222acf8d0facb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kde-cli-tools-5.20.5.tar.xz">kde-cli-tools-5.20.5</a></td>
   <td align="right">588kB</td>
   <td><tt>0440b2d0359bca871134bfdbcc71b72c22af8c88601f1abceb83219a1877627c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kdecoration-5.20.5.tar.xz">kdecoration-5.20.5</a></td>
   <td align="right">44kB</td>
   <td><tt>6e973a9b18da376ce797be85fc60b3a1d53ae69868fabeadbefae1279c3181cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kde-gtk-config-5.20.5.tar.xz">kde-gtk-config-5.20.5</a></td>
   <td align="right">66kB</td>
   <td><tt>39a8dd1c143d741846017dc351ccd9161e1dfd710e3d18609327f30044de6eb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kdeplasma-addons-5.20.5.tar.xz">kdeplasma-addons-5.20.5</a></td>
   <td align="right">629kB</td>
   <td><tt>56c4bba1fa743d675b340014bfd31c546421ff8e09dfd1ef29d45c278eadd7eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kgamma5-5.20.5.tar.xz">kgamma5-5.20.5</a></td>
   <td align="right">79kB</td>
   <td><tt>8d765e8f13e7195b0fbd41feee8a1f5a2a605c64141d887c1221f631f5bbc0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/khotkeys-5.20.5.tar.xz">khotkeys-5.20.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>081a132b699b0ce9fa0c05b2e7f2ec7efeea270db5e16a359685e0445bcf88c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kinfocenter-5.20.5.tar.xz">kinfocenter-5.20.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>55eba3e9f3b64a9508db6a2b4106b243d62d29be2ea08b388bb57297b9db7b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kmenuedit-5.20.5.tar.xz">kmenuedit-5.20.5</a></td>
   <td align="right">872kB</td>
   <td><tt>eebd0a906538c64b25920a194753102b051f75935743278abef792c3e983f52a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kscreen-5.20.5.tar.xz">kscreen-5.20.5</a></td>
   <td align="right">112kB</td>
   <td><tt>de08a3ac81e88befd8d62752f8e46a9fbc244f7369c6e3b642cfb4f65a9e52da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kscreenlocker-5.20.5.tar.xz">kscreenlocker-5.20.5</a></td>
   <td align="right">113kB</td>
   <td><tt>802fef234420251eb3f0b50db84f52fe8c5d8859d897ec9ace855d0239a4c01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/ksshaskpass-5.20.5.tar.xz">ksshaskpass-5.20.5</a></td>
   <td align="right">22kB</td>
   <td><tt>3e135f8e8092bfe9f19dbd6bc12dc052330c4ac8a6a671e835e5e775ab2a65f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/ksysguard-5.20.5.tar.xz">ksysguard-5.20.5</a></td>
   <td align="right">551kB</td>
   <td><tt>32f5227b2c1f91cd64fcee6b401209582cfffb16e2b015c6d6513e9f4d1dab35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kwallet-pam-5.20.5.tar.xz">kwallet-pam-5.20.5</a></td>
   <td align="right">19kB</td>
   <td><tt>53e611baeb02e66ff739045ffb4b913f4e963630baad4cfa96ba77b750fdc1f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kwayland-integration-5.20.5.tar.xz">kwayland-integration-5.20.5</a></td>
   <td align="right">20kB</td>
   <td><tt>33f364670a1c19b84fe1bda40e543ebcc9e7593e932a7d18b9815f150ac21f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kwayland-server-5.20.5.tar.xz">kwayland-server-5.20.5</a></td>
   <td align="right">215kB</td>
   <td><tt>e0f36407ba32721936b0b14894480279f60effc088e4e1f3cde6e5c584945d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kwin-5.20.5.tar.xz">kwin-5.20.5</a></td>
   <td align="right">6.0MB</td>
   <td><tt>ec142543935a1c9fe9b8e7e73db1bdf58669990d7c1611424062bbdd9e21384e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/kwrited-5.20.5.tar.xz">kwrited-5.20.5</a></td>
   <td align="right">20kB</td>
   <td><tt>bfb2bb88e6b4e49a69b5c90b4688f3aba3b8e6771221e7c9332293bfc05a1bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/libkscreen-5.20.5.tar.xz">libkscreen-5.20.5</a></td>
   <td align="right">83kB</td>
   <td><tt>1ba79cdf4505159108a71f279eac3f746972b395bf1b9b49f2c577a2cf9c8118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/libksysguard-5.20.5.tar.xz">libksysguard-5.20.5</a></td>
   <td align="right">682kB</td>
   <td><tt>a8a5635c88559567342eba77c707269ab23bc0ce1775ce424c0abd57a83e5d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/milou-5.20.5.tar.xz">milou-5.20.5</a></td>
   <td align="right">54kB</td>
   <td><tt>704c41b4470e4cd84484406c187bf218c9f89f9c46a1024c6dd19af8856cb7c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/oxygen-5.20.5.tar.xz">oxygen-5.20.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>19a74245a6a58f015813b9a7a72cc26622c016975d55bfb548db36d0239ad298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-browser-integration-5.20.5.tar.xz">plasma-browser-integration-5.20.5</a></td>
   <td align="right">189kB</td>
   <td><tt>c2a665733e09887782ab4235e9e6b3aab2418f3666fd687ab6431546dbafff0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-desktop-5.20.5.tar.xz">plasma-desktop-5.20.5</a></td>
   <td align="right">15MB</td>
   <td><tt>bd656e93f44fd528bcd2e0e4c79cbc1adb837369f9a27291bcc5dcd9df2787b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-disks-5.20.5.tar.xz">plasma-disks-5.20.5</a></td>
   <td align="right">63kB</td>
   <td><tt>219b542853e569756225b6805f1ae81d305c7aa2be81f722704ff82dde709c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-integration-5.20.5.tar.xz">plasma-integration-5.20.5</a></td>
   <td align="right">58kB</td>
   <td><tt>a8271e6e61b2e96807ce388c923163352a5e94533355f39edb53389fab95cdf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-nano-5.20.5.tar.xz">plasma-nano-5.20.5</a></td>
   <td align="right">33kB</td>
   <td><tt>650f51a1753b70f1c0eed41ee87a1f577b5bd357c67154048f3faede42344740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-nm-5.20.5.tar.xz">plasma-nm-5.20.5</a></td>
   <td align="right">845kB</td>
   <td><tt>468df2bf99907382125a4822322d23c71e1a59f792eba497d89483dc94180e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-pa-5.20.5.tar.xz">plasma-pa-5.20.5</a></td>
   <td align="right">111kB</td>
   <td><tt>4d84422753aa362383945e8a8a9e6d6fc853f8d918e7b0b7eb1d24317e5e7377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-phone-components-5.20.5.tar.xz">plasma-phone-components-5.20.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ba4afbaa6e8ecf5461252f8124a0dad48e0d44c5bc8dbda990423b2916480792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-sdk-5.20.5.tar.xz">plasma-sdk-5.20.5</a></td>
   <td align="right">260kB</td>
   <td><tt>de68f253321f2c58b71c0736fbe17e132b7edcc2c86b526c7db8290bc0b1988d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-tests-5.20.5.tar.xz">plasma-tests-5.20.5</a></td>
   <td align="right">1kB</td>
   <td><tt>b29005f90faf24b131d3cd81bfbd30663a449181391b861b8a431b723163dc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-thunderbolt-5.20.5.tar.xz">plasma-thunderbolt-5.20.5</a></td>
   <td align="right">55kB</td>
   <td><tt>6013e7b6ffa140f17c128f091d526a561c6e91109da23b3368b1fe62dffd851a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-vault-5.20.5.tar.xz">plasma-vault-5.20.5</a></td>
   <td align="right">155kB</td>
   <td><tt>a25ab6348e0f5efc28c3bba2a91d5e5553db75305f7eabf17f1a1050fab7322d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-workspace-5.20.5.tar.xz">plasma-workspace-5.20.5</a></td>
   <td align="right">8.6MB</td>
   <td><tt>357ef43092efb4d45f7c6ae9249a538be3484c855d0e35ae3b0b1e8d3db6c624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plasma-workspace-wallpapers-5.20.5.tar.xz">plasma-workspace-wallpapers-5.20.5</a></td>
   <td align="right">43MB</td>
   <td><tt>e39bda4d2807c83063b980008e8d9f14add71bc5fa1ddbc059754ea416bbe70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/plymouth-kcm-5.20.5.tar.xz">plymouth-kcm-5.20.5</a></td>
   <td align="right">42kB</td>
   <td><tt>dfb35b846ccce66b543d17d4e360d6d651751e396dfd6f586fb20e8810c89153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/polkit-kde-agent-1-5.20.5.tar.xz">polkit-kde-agent-1-5.20.5</a></td>
   <td align="right">43kB</td>
   <td><tt>5ba485c5db38815961ba8737ece74908d9b9a35229f1cd8c7a7df79122b37be6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/powerdevil-5.20.5.tar.xz">powerdevil-5.20.5</a></td>
   <td align="right">595kB</td>
   <td><tt>32fb5ca72bed38d9bffc47f24a6c4dcee03b1da52b200d0f5bb976f9d48b6ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/sddm-kcm-5.20.5.tar.xz">sddm-kcm-5.20.5</a></td>
   <td align="right">63kB</td>
   <td><tt>5f850e3e3e7dc85f5b13444c6669caf47690bf8e85d4248a4304f56ca7f189ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/systemsettings-5.20.5.tar.xz">systemsettings-5.20.5</a></td>
   <td align="right">189kB</td>
   <td><tt>b2e03bc39a1c7f4e298c8c196a22e22291a5b71ecd972234c6a47d9b284c32ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.5/xdg-desktop-portal-kde-5.20.5.tar.xz">xdg-desktop-portal-kde-5.20.5</a></td>
   <td align="right">79kB</td>
   <td><tt>f40d5453c30a5761310408513b57d3a7b9cb5f172e163094ca2aa17b4201e71d</tt></td>
</tr>

</table>
