<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdeaccessibility-4.4.0.tar.bz2">kdeaccessibility-4.4.0</a></td><td align="right">5,5MB</td><td><tt>4003904ef4924f8602119aa201e285fa45fec27b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdeadmin-4.4.0.tar.bz2">kdeadmin-4.4.0</a></td><td align="right">1,5MB</td><td><tt>41701fd5fb1eaed8513164508f40d481a76f77f5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdeartwork-4.4.0.tar.bz2">kdeartwork-4.4.0</a></td><td align="right">70MB</td><td><tt>5e1a95ddca0dcfbd22bd3ed095519a487a84aa4a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdebase-4.4.0.tar.bz2">kdebase-4.4.0</a></td><td align="right">3,6MB</td><td><tt>7b27712fca17674ecb5bc5e052fff913f0e0df1c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdebase-runtime-4.4.0.tar.bz2">kdebase-runtime-4.4.0</a></td><td align="right">7,1MB</td><td><tt>9fa8b0371d255536b945c1c099c2f2f15751fe0f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdebase-workspace-4.4.0.tar.bz2">kdebase-workspace-4.4.0</a></td><td align="right">74MB</td><td><tt>86f8046f8fa3a4b53389353217cf8da8941a1d9c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdebindings-4.4.0.tar.bz2">kdebindings-4.4.0</a></td><td align="right">4,8MB</td><td><tt>232ca73567463a03ae3660afd66a6acfe3298e6f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdeedu-4.4.0.tar.bz2">kdeedu-4.4.0</a></td><td align="right">57MB</td><td><tt>447641e71107845938e1f80f3f191f7be3067f27</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdegames-4.4.0.tar.bz2">kdegames-4.4.0</a></td><td align="right">67MB</td><td><tt>cd6836cd16a2849534d92ed0288b811c0df0a6df</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdegraphics-4.4.0.tar.bz2">kdegraphics-4.4.0</a></td><td align="right">3,7MB</td><td><tt>d221007269b8a3719bf56a89a970935e86f6c4fd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdelibs-4.4.0.tar.bz2">kdelibs-4.4.0</a></td><td align="right">14MB</td><td><tt>86d2f40e2b838fbe60e625dd2450b871c9bfe5c7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdemultimedia-4.4.0.tar.bz2">kdemultimedia-4.4.0</a></td><td align="right">1,6MB</td><td><tt>592419ff9c5da9dfe2fbb9b4bc8b84856186881b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdenetwork-4.4.0.tar.bz2">kdenetwork-4.4.0</a></td><td align="right">7,5MB</td><td><tt>dcc5eed38306c7c3ee0646da37918fb409fab2f6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdepim-4.4.0.tar.bz2">kdepim-4.4.0</a></td><td align="right">9,0MB</td><td><tt>f46a59ab858af62b1e77f87390f0c112355577b6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdepimlibs-4.4.0.tar.bz2">kdepimlibs-4.4.0</a></td><td align="right">2,4MB</td><td><tt>76e41917a9e2d6e4a78ecacf235a3b3a2a7d9ba0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdepim-runtime-4.4.0.tar.bz2">kdepim-runtime-4.4.0</a></td><td align="right">616KB</td><td><tt>827732d92f87912ffb30a72f66baeaba4b37f96e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdeplasma-addons-4.4.0.tar.bz2">kdeplasma-addons-4.4.0</a></td><td align="right">1,6MB</td><td><tt>c3ef577abefabd693e16ab4a21c02c7561841a55</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdesdk-4.4.0.tar.bz2">kdesdk-4.4.0</a></td><td align="right">5,4MB</td><td><tt>eb7ee7af3c6e62bd2e6d4a6be0afd346c050d963</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdetoys-4.4.0.tar.bz2">kdetoys-4.4.0</a></td><td align="right">1,3MB</td><td><tt>1d09cdb270f85facfe1daa5a75ef5614efb9f100</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdeutils-4.4.0.tar.bz2">kdeutils-4.4.0</a></td><td align="right">2,6MB</td><td><tt>82e2fdfd48ea292204b5278ac43acb1c5edd95fd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/kdewebdev-4.4.0.tar.bz2">kdewebdev-4.4.0</a></td><td align="right">2,1MB</td><td><tt>200e12da2f03270f053d045e0aef692f879025ff</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.0/src/oxygen-icons-4.4.0.tar.bz2">oxygen-icons-4.4.0</a></td><td align="right">127MB</td><td><tt>8793dc6a67885b2038ca570fe5e2553a0a7635c1</tt></td></tr>
</table>
