<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/bluedevil-5.5.2.tar.xz">bluedevil-5.5.2</a></td>
   <td align="right">129kB</td>
   <td><tt>4e7e9736f394f64598933e8b82d7a2a03852728f9c106b7bd434b6e593dc237c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/breeze-5.5.2.tar.xz">breeze-5.5.2</a></td>
   <td align="right">28MB</td>
   <td><tt>f9317657125940e38a0b8e10e10a8c0bde406a55f296a6910a5744414c4c369c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/breeze-gtk-5.5.2.tar.xz">breeze-gtk-5.5.2</a></td>
   <td align="right">252kB</td>
   <td><tt>a0233498e7824398da1752210a52988989a225b8891ed45c23f93c9acd6a9dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/discover-5.5.2.tar.xz">discover-5.5.2</a></td>
   <td align="right">821kB</td>
   <td><tt>40f68ea05fcbe9692a0cb4ee9cdefbe232e5b6026ba4cb09ef8142ecd140958f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kde-cli-tools-5.5.2.tar.xz">kde-cli-tools-5.5.2</a></td>
   <td align="right">474kB</td>
   <td><tt>664ec399c2a08221aa71d68a495b9b179835dadbd737227c6861b2ec62c72736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kdecoration-5.5.2.tar.xz">kdecoration-5.5.2</a></td>
   <td align="right">33kB</td>
   <td><tt>f0f24c8dafa939bdd640310f4549a3ce90a089fba3329c0e2d10f9bff1dc2bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kde-gtk-config-5.5.2.tar.xz">kde-gtk-config-5.5.2</a></td>
   <td align="right">142kB</td>
   <td><tt>08464609744f3880f7ef084b72b619a43994c7b048cc5e0b0937b7f7cc50a85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kdeplasma-addons-5.5.2.tar.xz">kdeplasma-addons-5.5.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>84664e42c0923cb150574913d7f66eb40115f514f653284cbd32ae223c7e1053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kgamma5-5.5.2.tar.xz">kgamma5-5.5.2</a></td>
   <td align="right">58kB</td>
   <td><tt>d8f014a434da5ad542031e92dc59c0482f047a88ed50baef996484b1b23b9f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/khelpcenter-5.5.2.tar.xz">khelpcenter-5.5.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3d8047c70928ef1efffcb5493aaa00e2adbfb46734858cbe01fea546d305fefa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/khotkeys-5.5.2.tar.xz">khotkeys-5.5.2</a></td>
   <td align="right">589kB</td>
   <td><tt>4b9d5fd24b3ec2bad004284be8b2beef8ab906bf5680b9c78d0a53d821808d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kinfocenter-5.5.2.tar.xz">kinfocenter-5.5.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fc5984022db9a3d4580f39ab798cab3053d007314b08a4dbf08b3e93c0f6e8f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kmenuedit-5.5.2.tar.xz">kmenuedit-5.5.2</a></td>
   <td align="right">431kB</td>
   <td><tt>99a750fd288440ba2071f6e6ae4ec5b502ead74c3c145225c50daab032170bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kscreen-5.5.2.tar.xz">kscreen-5.5.2</a></td>
   <td align="right">100kB</td>
   <td><tt>57f5220b2b43ec9a16d8a2aeee1001637d250b781e69f119c0ae3f934d120e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kscreenlocker-5.5.2.tar.xz">kscreenlocker-5.5.2</a></td>
   <td align="right">95kB</td>
   <td><tt>b5192ac76fd9484b78f78106a565a8b873d6f11095a886e296c284697b5e76fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/ksshaskpass-5.5.2.tar.xz">ksshaskpass-5.5.2</a></td>
   <td align="right">19kB</td>
   <td><tt>8efbfe53f8f99828acbf2253780e6df696dd3317c2a6a0a2590d0f5c5dc40137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/ksysguard-5.5.2.tar.xz">ksysguard-5.5.2</a></td>
   <td align="right">470kB</td>
   <td><tt>dd0a3b5f2297a75df2a5db871c7de5452ad666c7571de9b3b2065a7e6b543130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kwallet-pam-5.5.2.tar.xz">kwallet-pam-5.5.2</a></td>
   <td align="right">15kB</td>
   <td><tt>c086c5cb4ccccb68514159f95fb39d9f2aa61f0958db92bb0c7e6f1daa14b33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kwayland-5.5.2.tar.xz">kwayland-5.5.2</a></td>
   <td align="right">155kB</td>
   <td><tt>bb8257c862a480116988424cac75046025fae58d4c12c861a0093e1fdce82fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kwayland-integration-5.5.2.tar.xz">kwayland-integration-5.5.2</a></td>
   <td align="right">16kB</td>
   <td><tt>db2ed262f18865f5b1dfe2111a386c25f4b40427162996b0bab396f37dcd9f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kwin-5.5.2.tar.xz">kwin-5.5.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>97f4f51fc65031a8ce7ff3ac0fa0e6f4a67b34661047c72e80c4b4b36c1d9e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/kwrited-5.5.2.tar.xz">kwrited-5.5.2</a></td>
   <td align="right">19kB</td>
   <td><tt>08be0bfd844aa57f9c67e26258e53d09b114a8ba548ddbfa8f514f0fe35ea63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/libkscreen-5.5.2.tar.xz">libkscreen-5.5.2</a></td>
   <td align="right">70kB</td>
   <td><tt>c2ba28d1b3777b0cd0912a49f875622f08b6c9ccbf1f50cf21162aba3e564a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/libksysguard-5.5.2.tar.xz">libksysguard-5.5.2</a></td>
   <td align="right">555kB</td>
   <td><tt>c5963b31f617ed84f02ad4ab6976e8635da1c366c593d1fed83cc5b1248f99fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/milou-5.5.2.tar.xz">milou-5.5.2</a></td>
   <td align="right">50kB</td>
   <td><tt>18b8c1b24ff5b768f5d9b0e313cf2702bc6da57bb817100ad7165f4fff4811a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/oxygen-5.5.2.tar.xz">oxygen-5.5.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>770234c8167a1ccdbce81e428ec7367b366bbf64aca4f2e79b9a30ebbf5a3561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-desktop-5.5.2.tar.xz">plasma-desktop-5.5.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>cef6faed598777f87804aeb733fa036eb344630d00dc002e3bc67f5e6d858421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-mediacenter-5.5.2.tar.xz">plasma-mediacenter-5.5.2</a></td>
   <td align="right">156kB</td>
   <td><tt>52f3ee5a8d01c2bc6fafe065e0f441213a9697af5f2e66935d6738b3deb22980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-nm-5.5.2.tar.xz">plasma-nm-5.5.2</a></td>
   <td align="right">593kB</td>
   <td><tt>7d186258a0d3b6d42538bd6828b6b23f23d57868529a56272701afad4c2ddd01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-pa-5.5.2.tar.xz">plasma-pa-5.5.2</a></td>
   <td align="right">52kB</td>
   <td><tt>d19954201cf34fdb476f0d9e8f876ac76f2eba7e27b1403871deb6a06bd9335a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-sdk-5.5.2.tar.xz">plasma-sdk-5.5.2</a></td>
   <td align="right">647kB</td>
   <td><tt>8fa8062025d749565d84843777f2fa103936f3811361277b39e037814a31362a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-workspace-5.5.2.tar.xz">plasma-workspace-5.5.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>8cfad1c2dd3375a3f36580c76e53834ec908fb67ee3181fe007252621076d502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/plasma-workspace-wallpapers-5.5.2.tar.xz">plasma-workspace-wallpapers-5.5.2</a></td>
   <td align="right">43MB</td>
   <td><tt>3387251123d92420a4f5303f217bdc11f7479bf9a460f0450a697d0dfdaffe85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/polkit-kde-agent-1-5.5.2.tar.xz">polkit-kde-agent-1-5.5.2</a></td>
   <td align="right">38kB</td>
   <td><tt>49a6e3ec8989960506835b02462c249adda70c6025092559a07af61848afba4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/powerdevil-5.5.2.tar.xz">powerdevil-5.5.2</a></td>
   <td align="right">337kB</td>
   <td><tt>41ccaeac85e3e9425e5f85dec0c072e84607543e270b177089e692f66331a7d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/sddm-kcm-5.5.2.tar.xz">sddm-kcm-5.5.2</a></td>
   <td align="right">46kB</td>
   <td><tt>c9c1dffaf52f67a4b3e8f928020f4154cd0c1d55a836b52e3b01c2109b859e39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/systemsettings-5.5.2.tar.xz">systemsettings-5.5.2</a></td>
   <td align="right">153kB</td>
   <td><tt>6a59bad33a0322ef44a17ab1add5109622d42042fc8ca4c513a1abe11dacc60f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.2/user-manager-5.5.2.tar.xz">user-manager-5.5.2</a></td>
   <td align="right">55kB</td>
   <td><tt>f62b60766ba488dd33a767881809000fc118ebf1a4974bd6b3d56fe461437453</tt></td>
</tr>

</table>
