
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/attica-5.77.0.tar.xz">attica-5.77.0</a></td>
   <td align="right">64kB</td>
   <td><tt>c78a08ff03f479d80565065909f03ef0101d9254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/baloo-5.77.0.tar.xz">baloo-5.77.0</a></td>
   <td align="right">283kB</td>
   <td><tt>4095f29d0d7fd8d75bd052a6e4c0e4b4c61208ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/bluez-qt-5.77.0.tar.xz">bluez-qt-5.77.0</a></td>
   <td align="right">99kB</td>
   <td><tt>f2ac49a9d892500a7527e0322298f6556281297c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/breeze-icons-5.77.0.tar.xz">breeze-icons-5.77.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9328201be1c0de6305638779f6ff9802ce033d42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/extra-cmake-modules-5.77.0.tar.xz">extra-cmake-modules-5.77.0</a></td>
   <td align="right">345kB</td>
   <td><tt>f8bfb9d8782c8e6c11260d4e0a378a04257b0ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/frameworkintegration-5.77.0.tar.xz">frameworkintegration-5.77.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cdcaa022811f59575b45c178a42db3e6d4a04d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kactivities-5.77.0.tar.xz">kactivities-5.77.0</a></td>
   <td align="right">70kB</td>
   <td><tt>b49d9fc955927f0cb896024baef6d681cfb89c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kactivities-stats-5.77.0.tar.xz">kactivities-stats-5.77.0</a></td>
   <td align="right">80kB</td>
   <td><tt>784becb3935ecd7b6cfcd78c27fc12a30d9fb01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kapidox-5.77.0.tar.xz">kapidox-5.77.0</a></td>
   <td align="right">186kB</td>
   <td><tt>3b1b4fe1f48a444bcc290bec6539da287d5104e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/karchive-5.77.0.tar.xz">karchive-5.77.0</a></td>
   <td align="right">960kB</td>
   <td><tt>183f409aa46e8780b8475437cc39f20dc6c6fe77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kauth-5.77.0.tar.xz">kauth-5.77.0</a></td>
   <td align="right">85kB</td>
   <td><tt>c4a488136c541981d533b0d3c3d8773b42d23513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kbookmarks-5.77.0.tar.xz">kbookmarks-5.77.0</a></td>
   <td align="right">123kB</td>
   <td><tt>91031c055951a6b8fbc621cba2527f589dcc6ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcalendarcore-5.77.0.tar.xz">kcalendarcore-5.77.0</a></td>
   <td align="right">253kB</td>
   <td><tt>a201d249e77e899caa0d0201323aec61f89811aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcmutils-5.77.0.tar.xz">kcmutils-5.77.0</a></td>
   <td align="right">251kB</td>
   <td><tt>9a9e8706db1025b8aca0410c8776f809c3ab6595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcodecs-5.77.0.tar.xz">kcodecs-5.77.0</a></td>
   <td align="right">222kB</td>
   <td><tt>ab652ef270112d24b0a6a0507b1872898354b7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcompletion-5.77.0.tar.xz">kcompletion-5.77.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c06417e994b6c250f9e54048fe8f36626bbbf101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kconfig-5.77.0.tar.xz">kconfig-5.77.0</a></td>
   <td align="right">257kB</td>
   <td><tt>2ec2410ed5eebc942b858695e662e538a0a163d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kconfigwidgets-5.77.0.tar.xz">kconfigwidgets-5.77.0</a></td>
   <td align="right">378kB</td>
   <td><tt>ffcfbd96b5fc0bbb2fa2409bbd1ab10314dc2383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcontacts-5.77.0.tar.xz">kcontacts-5.77.0</a></td>
   <td align="right">531kB</td>
   <td><tt>5d280ffcb77ef40faff2dba14232a0ac104514e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcoreaddons-5.77.0.tar.xz">kcoreaddons-5.77.0</a></td>
   <td align="right">393kB</td>
   <td><tt>30e2f3767262b69e4050f7ad697ba6dc602f5946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kcrash-5.77.0.tar.xz">kcrash-5.77.0</a></td>
   <td align="right">21kB</td>
   <td><tt>3e57376285cec75aa2a3a5b5672cfdb0c50da603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kdav-5.77.0.tar.xz">kdav-5.77.0</a></td>
   <td align="right">57kB</td>
   <td><tt>256a039c5f3f4828d23c4ddf9ec0b4c5702b9265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kdbusaddons-5.77.0.tar.xz">kdbusaddons-5.77.0</a></td>
   <td align="right">41kB</td>
   <td><tt>b7201031a2bb5b9fc3914786162b604e10e00ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kdeclarative-5.77.0.tar.xz">kdeclarative-5.77.0</a></td>
   <td align="right">180kB</td>
   <td><tt>0f2684607604a83f168f60a3b690db33f2e07c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kded-5.77.0.tar.xz">kded-5.77.0</a></td>
   <td align="right">35kB</td>
   <td><tt>aff2d1b084f24b6312e480d21749d969fa3deeda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kdesu-5.77.0.tar.xz">kdesu-5.77.0</a></td>
   <td align="right">50kB</td>
   <td><tt>6e390cb96e3aa9141155a4f36931546947e47f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kdnssd-5.77.0.tar.xz">kdnssd-5.77.0</a></td>
   <td align="right">56kB</td>
   <td><tt>e2d292a30a9723c33f062b247c71c694b8de621c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kdoctools-5.77.0.tar.xz">kdoctools-5.77.0</a></td>
   <td align="right">428kB</td>
   <td><tt>4e3333ba42199782b474335dd8218bb9c9316cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kemoticons-5.77.0.tar.xz">kemoticons-5.77.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8aadea69c73e23092c975d2382782518190913bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kfilemetadata-5.77.0.tar.xz">kfilemetadata-5.77.0</a></td>
   <td align="right">414kB</td>
   <td><tt>1199a234f0b3e3d8a3ef8ebcb8ce2d05c3f9cb89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kglobalaccel-5.77.0.tar.xz">kglobalaccel-5.77.0</a></td>
   <td align="right">85kB</td>
   <td><tt>d1a0f80bd65f20fa58aa373cdaaca31925d71477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kguiaddons-5.77.0.tar.xz">kguiaddons-5.77.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d8348fcf389276105a7038762c06ca462b136a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kholidays-5.77.0.tar.xz">kholidays-5.77.0</a></td>
   <td align="right">219kB</td>
   <td><tt>c283bc88424e2d95a6b5990405cd29c63a0b65a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/ki18n-5.77.0.tar.xz">ki18n-5.77.0</a></td>
   <td align="right">576kB</td>
   <td><tt>849bd0716ebd704581428b9f499e6e3502352cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kiconthemes-5.77.0.tar.xz">kiconthemes-5.77.0</a></td>
   <td align="right">217kB</td>
   <td><tt>d838f37460161c11f1813dd526bb3b8ea398b034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kidletime-5.77.0.tar.xz">kidletime-5.77.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4ca1c54d97086325005461ff2b3efc6906689b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kimageformats-5.77.0.tar.xz">kimageformats-5.77.0</a></td>
   <td align="right">536kB</td>
   <td><tt>083e662942063232953be60bf9250d57b19b57e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kinit-5.77.0.tar.xz">kinit-5.77.0</a></td>
   <td align="right">118kB</td>
   <td><tt>3c96f34175b648de87d332c63982d2fc1cfd2460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kio-5.77.0.tar.xz">kio-5.77.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5ca4145361e9e24a81213f8bf3dc6dce58365b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kirigami2-5.77.0.tar.xz">kirigami2-5.77.0</a></td>
   <td align="right">290kB</td>
   <td><tt>0b4b27e6c24e37a8fc3b6c23b5a683ae7abc800b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kitemmodels-5.77.0.tar.xz">kitemmodels-5.77.0</a></td>
   <td align="right">393kB</td>
   <td><tt>b5056c9427d5b07d069d06253f103a13b04a3e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kitemviews-5.77.0.tar.xz">kitemviews-5.77.0</a></td>
   <td align="right">73kB</td>
   <td><tt>e97fae2b755b8c8c2aa1723aa5aeb18d28c8d6bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kjobwidgets-5.77.0.tar.xz">kjobwidgets-5.77.0</a></td>
   <td align="right">90kB</td>
   <td><tt>a5e364bf1d4add3f316f863fac43730bdcf274ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/knewstuff-5.77.0.tar.xz">knewstuff-5.77.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7e166f18d09399d7f362321913f0265565946439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/knotifications-5.77.0.tar.xz">knotifications-5.77.0</a></td>
   <td align="right">117kB</td>
   <td><tt>812ebd177bbd016ae669be31ea9db2c924f71722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/knotifyconfig-5.77.0.tar.xz">knotifyconfig-5.77.0</a></td>
   <td align="right">82kB</td>
   <td><tt>cbda00d188bdf19e003997591ee97fd675e88bfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kpackage-5.77.0.tar.xz">kpackage-5.77.0</a></td>
   <td align="right">137kB</td>
   <td><tt>7e99a07e6cb44f77b6b9dc03ed1e8bb5c10a8be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kparts-5.77.0.tar.xz">kparts-5.77.0</a></td>
   <td align="right">186kB</td>
   <td><tt>31a79be0b058f11c02b95fd5c69fd2cc891af267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kpeople-5.77.0.tar.xz">kpeople-5.77.0</a></td>
   <td align="right">60kB</td>
   <td><tt>6e00c5549a21c9fd05a6e93c94acdf8ac2af37dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kplotting-5.77.0.tar.xz">kplotting-5.77.0</a></td>
   <td align="right">30kB</td>
   <td><tt>ac1c060b5d9ade94bc225141f6d06d0f211b7930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kpty-5.77.0.tar.xz">kpty-5.77.0</a></td>
   <td align="right">54kB</td>
   <td><tt>1ab487b1fef7932865d48d9fecdce5710eb5fa3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kquickcharts-5.77.0.tar.xz">kquickcharts-5.77.0</a></td>
   <td align="right">95kB</td>
   <td><tt>ccd4f54aae2fc743fa2cf0f9d276c798872b16ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/krunner-5.77.0.tar.xz">krunner-5.77.0</a></td>
   <td align="right">68kB</td>
   <td><tt>911ccef0f0ca1f1564d46ae594ad0295f3206e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kservice-5.77.0.tar.xz">kservice-5.77.0</a></td>
   <td align="right">254kB</td>
   <td><tt>11a4277f2a36191575fa38c9b81584aed668c3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/ktexteditor-5.77.0.tar.xz">ktexteditor-5.77.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2eb0789daab654a2eb8b54234fc72a8d71eee932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/ktextwidgets-5.77.0.tar.xz">ktextwidgets-5.77.0</a></td>
   <td align="right">316kB</td>
   <td><tt>10eef1d87ab357f9132797bbf3f88ac37b658040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kunitconversion-5.77.0.tar.xz">kunitconversion-5.77.0</a></td>
   <td align="right">840kB</td>
   <td><tt>44842bf8357e94cc10dd8a09072b83cd8954d155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kwallet-5.77.0.tar.xz">kwallet-5.77.0</a></td>
   <td align="right">292kB</td>
   <td><tt>71a238714959fe66faa3ec41d6f08363d71cf34e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kwayland-5.77.0.tar.xz">kwayland-5.77.0</a></td>
   <td align="right">336kB</td>
   <td><tt>29b90adb92b61f894c4e6aab36a0e55080244e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kwidgetsaddons-5.77.0.tar.xz">kwidgetsaddons-5.77.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>00c6aab10f7d85af6fab26b6249c8ac43d234ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kwindowsystem-5.77.0.tar.xz">kwindowsystem-5.77.0</a></td>
   <td align="right">172kB</td>
   <td><tt>8ed1caaa238ee8b16d383c95e842d94e444c46bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/kxmlgui-5.77.0.tar.xz">kxmlgui-5.77.0</a></td>
   <td align="right">840kB</td>
   <td><tt>b60c8d2035ec196368d53f00e2ad3c393ffdddb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/modemmanager-qt-5.77.0.tar.xz">modemmanager-qt-5.77.0</a></td>
   <td align="right">109kB</td>
   <td><tt>7ad13334874e71e37f81b7ea09cc7e6625a9cefe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/networkmanager-qt-5.77.0.tar.xz">networkmanager-qt-5.77.0</a></td>
   <td align="right">190kB</td>
   <td><tt>7a6820b0fa95641825862a8f502fc4e572f924c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/oxygen-icons5-5.77.0.tar.xz">oxygen-icons5-5.77.0</a></td>
   <td align="right">225MB</td>
   <td><tt>eb81d32b564effccf4e43236760e28d60d741ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/plasma-framework-5.77.0.tar.xz">plasma-framework-5.77.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>f459b08e6fda0b5a126dbefc34dbe07024bb8fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/prison-5.77.0.tar.xz">prison-5.77.0</a></td>
   <td align="right">39kB</td>
   <td><tt>7905a4996c08df45d3464a1ad48de313bfaaa9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/purpose-5.77.0.tar.xz">purpose-5.77.0</a></td>
   <td align="right">154kB</td>
   <td><tt>1831880776f1ae2a33747e91d6a04eeab7c91ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/qqc2-desktop-style-5.77.0.tar.xz">qqc2-desktop-style-5.77.0</a></td>
   <td align="right">58kB</td>
   <td><tt>c435b524d5da2fb06cc42facba516807b4dc4887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/solid-5.77.0.tar.xz">solid-5.77.0</a></td>
   <td align="right">267kB</td>
   <td><tt>35dfdde2531851feca900d1e0512b489166a050c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/sonnet-5.77.0.tar.xz">sonnet-5.77.0</a></td>
   <td align="right">287kB</td>
   <td><tt>0f3393861aaacd37023f2b0583053c6070960a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/syndication-5.77.0.tar.xz">syndication-5.77.0</a></td>
   <td align="right">496kB</td>
   <td><tt>6212d7ad8c9e32d99ee02d5e1e005b50f75441ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/syntax-highlighting-5.77.0.tar.xz">syntax-highlighting-5.77.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4cdc61ae66a1d6de498ef78a0d6067acd8d0f29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.77/threadweaver-5.77.0.tar.xz">threadweaver-5.77.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9e0824d03e7bb8e171e61cb17655830a06c444df</tt></td>
</tr>

</table>
