<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/bluedevil-5.13.1.tar.xz">bluedevil-5.13.1</a></td>
   <td align="right">145kB</td>
   <td><tt>50e005df56d0e818db938682952297c647c630018150ead9a1b5eddc1ff56ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/breeze-5.13.1.tar.xz">breeze-5.13.1</a></td>
   <td align="right">23MB</td>
   <td><tt>fa232e0e0eae018fb3a9d96ba60e46d6197e17a64ea9740515a6ad67d7445d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/breeze-grub-5.13.1.tar.xz">breeze-grub-5.13.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>949763cb63ded4bfec61d90a8e815ec890b44444876c733e258f31181fec3f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/breeze-gtk-5.13.1.tar.xz">breeze-gtk-5.13.1</a></td>
   <td align="right">197kB</td>
   <td><tt>d09735ac47801d6e70bb685cea733f48455927bbd37d545acbe33352242693fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/breeze-plymouth-5.13.1.tar.xz">breeze-plymouth-5.13.1</a></td>
   <td align="right">103kB</td>
   <td><tt>8e81529e2a36f27a9e71b99942c889fcc98906bc66436b2f63718a61d9d61f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/discover-5.13.1.tar.xz">discover-5.13.1</a></td>
   <td align="right">9.7MB</td>
   <td><tt>f4c023e84d676c61ee56104bf2afbe7ecdfbf66c18ece5a2f7375503022cfac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/drkonqi-5.13.1.tar.xz">drkonqi-5.13.1</a></td>
   <td align="right">722kB</td>
   <td><tt>ba855d3bdaa09120dc807c8d15f3b61b7ddbdc43c9326d679bda8ad5a040008d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kactivitymanagerd-5.13.1.tar.xz">kactivitymanagerd-5.13.1</a></td>
   <td align="right">83kB</td>
   <td><tt>2749a045e7a411d96fb9748306d0473917d76f5dd95cdbbcf93b6db1f850603e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kde-cli-tools-5.13.1.tar.xz">kde-cli-tools-5.13.1</a></td>
   <td align="right">570kB</td>
   <td><tt>e43c079e90ea8e888e632ddb4856e50a2bbcdbb61337de65cbe0ca7337c8c60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kdecoration-5.13.1.tar.xz">kdecoration-5.13.1</a></td>
   <td align="right">40kB</td>
   <td><tt>e3f18610a1c21199db449ffce44424e9960815ad33c30254b1ab6fa5c032d0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kde-gtk-config-5.13.1.tar.xz">kde-gtk-config-5.13.1</a></td>
   <td align="right">152kB</td>
   <td><tt>4ffa97688a40006d7ecce480ec0ee9ec6eece06c437ae1cac34a74c20fcb2632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kdeplasma-addons-5.13.1.tar.xz">kdeplasma-addons-5.13.1</a></td>
   <td align="right">583kB</td>
   <td><tt>f2253d33ab1cb2c6d0a2c7cb5029d811d6b3ed73ef3f8bda2a47f8822106febf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kgamma5-5.13.1.tar.xz">kgamma5-5.13.1</a></td>
   <td align="right">77kB</td>
   <td><tt>c23c2b5a0bc8c2f528135085cbb03656ef9630d6e2b128f67537150c9b7ba287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/khotkeys-5.13.1.tar.xz">khotkeys-5.13.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c28dade81374bf1cb7104e96ab5b02fe3f639120607e258baa8fd44a2cd5e7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kinfocenter-5.13.1.tar.xz">kinfocenter-5.13.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>996788d374e53d1d50093a88641c7cde791b3ba1c890ed72d5ee5507aece1066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kmenuedit-5.13.1.tar.xz">kmenuedit-5.13.1</a></td>
   <td align="right">641kB</td>
   <td><tt>ae140d33bdd11b0e2f85e8b13e24899cb7a81ecc80eb9591bea34b8c981ea792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kscreen-5.13.1.tar.xz">kscreen-5.13.1</a></td>
   <td align="right">110kB</td>
   <td><tt>4e7ed3b30fab5047975a08d1283bf0a3190aa9cf76cca2228d45e78360f2295b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kscreenlocker-5.13.1.tar.xz">kscreenlocker-5.13.1</a></td>
   <td align="right">118kB</td>
   <td><tt>24e205b81480dfba36468b1820c358d196c8f206741d5288a23dbd0624d8a87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/ksshaskpass-5.13.1.tar.xz">ksshaskpass-5.13.1</a></td>
   <td align="right">20kB</td>
   <td><tt>ec088bf32dd8ccec552b2d39e12dd8121cc456b7309fc9735a651554af782b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/ksysguard-5.13.1.tar.xz">ksysguard-5.13.1</a></td>
   <td align="right">481kB</td>
   <td><tt>dd2cedac76ce40f02e685620488e92e59a111f1b04318e3d4d354d976de4ebc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kwallet-pam-5.13.1.tar.xz">kwallet-pam-5.13.1</a></td>
   <td align="right">18kB</td>
   <td><tt>2166ab166973d6fb7dd635a0a84dc939b41cc80d56116de33cad99f4e5dc55fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kwayland-integration-5.13.1.tar.xz">kwayland-integration-5.13.1</a></td>
   <td align="right">18kB</td>
   <td><tt>c44fc7aff98028e3437a666be87d419933df828b6096fed3cd9b79f01e016d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kwin-5.13.1.tar.xz">kwin-5.13.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>9f16675aed47fb176eb35984037f463ff1d10a03284ee0674a68021b3735b69f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/kwrited-5.13.1.tar.xz">kwrited-5.13.1</a></td>
   <td align="right">19kB</td>
   <td><tt>02e8ab740f4840357644314681c550f77f7f27ae64df8e36bd45bc123b20cf51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/libkscreen-5.13.1.tar.xz">libkscreen-5.13.1</a></td>
   <td align="right">76kB</td>
   <td><tt>907044a0800ee7ef2b48eaff5e1599ce2b5dcbf9a1686a8e37d6f1ce130553c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/libksysguard-5.13.1.tar.xz">libksysguard-5.13.1</a></td>
   <td align="right">558kB</td>
   <td><tt>ae4a653deecf612d3537f66821e2cd8fdd600ef7a1a08106295ac0a77ce3c978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/milou-5.13.1.tar.xz">milou-5.13.1</a></td>
   <td align="right">56kB</td>
   <td><tt>c92540ebb99e9defdb76e759ae09ce8cf95923283b3646df0b2b7b426d7c7b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/oxygen-5.13.1.tar.xz">oxygen-5.13.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>02d1e3902c70dc1aa28fe6a3b75d2aa3fd9e1774f3ea374f59ef764540cd30e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-browser-integration-5.13.1.tar.xz">plasma-browser-integration-5.13.1</a></td>
   <td align="right">93kB</td>
   <td><tt>0c55907946e5c9045f93c1fabc66a585ac347318bab3f614685b0dbf1575c8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-desktop-5.13.1.1.tar.xz">plasma-desktop-5.13.1.1</a></td>
   <td align="right">8.6MB</td>
   <td><tt>c5f51c34a8549c879b691ea5de054100884c00bea32f559fc537ce338870a1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-integration-5.13.1.tar.xz">plasma-integration-5.13.1</a></td>
   <td align="right">52kB</td>
   <td><tt>3880e961e3ec62f6de388c572024b338849451984a9533cbb913a281075bf049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-nm-5.13.1.tar.xz">plasma-nm-5.13.1</a></td>
   <td align="right">687kB</td>
   <td><tt>04b9362a4bc2f3f362946a42d1dc23b903a2dfee67240a05b53138ef6e4f1e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-pa-5.13.1.tar.xz">plasma-pa-5.13.1</a></td>
   <td align="right">87kB</td>
   <td><tt>871f02eff33389851581fa29e9ad94de3764356ecfc755a1bc471f2c60eeb362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-sdk-5.13.1.tar.xz">plasma-sdk-5.13.1</a></td>
   <td align="right">241kB</td>
   <td><tt>6786bc81d95832903edad822cb3468849e2807e263c06b294eba52b6f251a211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-tests-5.13.1.tar.xz">plasma-tests-5.13.1</a></td>
   <td align="right">1kB</td>
   <td><tt>962af572605c7faa2b6fdfe610a4243590dc24f481c5e582b6da99a0b8fe70e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-vault-5.13.1.tar.xz">plasma-vault-5.13.1</a></td>
   <td align="right">111kB</td>
   <td><tt>76e84c0981d6cb43e11c997a3f325b15185b91577d49c3033a3d8f65df2a8f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-workspace-5.13.1.tar.xz">plasma-workspace-5.13.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d9b1cfae4f5269741d9d4ac1910b37aa698e12da08e8c78d26bb1fb843a69c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plasma-workspace-wallpapers-5.13.1.tar.xz">plasma-workspace-wallpapers-5.13.1</a></td>
   <td align="right">43MB</td>
   <td><tt>e43b8858c93adc6752f66314a820fc3a868ebf8b4ea2f01a33abed7cd20e6e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/plymouth-kcm-5.13.1.tar.xz">plymouth-kcm-5.13.1</a></td>
   <td align="right">38kB</td>
   <td><tt>e141e3b1c44096e764472830262ad7bc340ea346e5910c32b3d2b856b484eb3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/polkit-kde-agent-1-5.13.1.tar.xz">polkit-kde-agent-1-5.13.1</a></td>
   <td align="right">41kB</td>
   <td><tt>3c61ec63697337523dcb0cb72d8076d534435c2857f3b29e82e5f04765079d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/powerdevil-5.13.1.tar.xz">powerdevil-5.13.1</a></td>
   <td align="right">525kB</td>
   <td><tt>8d4edcf16ece7d8a1a961e6fa052d731adb699b24900d54d38534d74cc5b1396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/sddm-kcm-5.13.1.tar.xz">sddm-kcm-5.13.1</a></td>
   <td align="right">59kB</td>
   <td><tt>1cd8a7b6570008f294f71fe4e6bd429f4b07e8a62cfc464008803d2cef4ae5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/systemsettings-5.13.1.tar.xz">systemsettings-5.13.1</a></td>
   <td align="right">175kB</td>
   <td><tt>a0304f88a7569e3c153660ceab36e2d2c9dd8b16a267dbd536a99a0f7e247de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/user-manager-5.13.1.tar.xz">user-manager-5.13.1</a></td>
   <td align="right">532kB</td>
   <td><tt>5fddcb75ad170dc54fb8bbf6aede846f984b4a26ce2efe545d9e8d14fe4559f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.1/xdg-desktop-portal-kde-5.13.1.tar.xz">xdg-desktop-portal-kde-5.13.1</a></td>
   <td align="right">47kB</td>
   <td><tt>aece918b634bded06f30dc13f5979ccabed705ad12fe211b8cfdc72af001b62d</tt></td>
</tr>

</table>
