<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-17.11.80.tar.xz">akonadi-17.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>bc7aef440a422c49197eb4d0229c0eb5c74c61ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-calendar-17.11.80.tar.xz">akonadi-calendar-17.11.80</a></td>
   <td align="right">273kB</td>
   <td><tt>396a42a309299d6c92a3407f9471e35b75265d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-calendar-tools-17.11.80.tar.xz">akonadi-calendar-tools-17.11.80</a></td>
   <td align="right">215kB</td>
   <td><tt>fc37c75dd2fc9259966a953424cc352dd32a42e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadiconsole-17.11.80.tar.xz">akonadiconsole-17.11.80</a></td>
   <td align="right">181kB</td>
   <td><tt>8d2a8ee557b0397b9022d1db8ae300fee2852aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-contacts-17.11.80.tar.xz">akonadi-contacts-17.11.80</a></td>
   <td align="right">335kB</td>
   <td><tt>04fb5d98432f6a5d7d937ab8be52caf93cba8de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-import-wizard-17.11.80.tar.xz">akonadi-import-wizard-17.11.80</a></td>
   <td align="right">424kB</td>
   <td><tt>c99364c2d53ca93b264495b97efbb9edcff25ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-mime-17.11.80.tar.xz">akonadi-mime-17.11.80</a></td>
   <td align="right">127kB</td>
   <td><tt>ecb9b7b676629bae133a31de325acaa47ddde6a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-notes-17.11.80.tar.xz">akonadi-notes-17.11.80</a></td>
   <td align="right">23kB</td>
   <td><tt>67a62847f2a8198f2a4153689d236109e70e6415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akonadi-search-17.11.80.tar.xz">akonadi-search-17.11.80</a></td>
   <td align="right">79kB</td>
   <td><tt>61522e392e414c7c69903adc3a76822763a6c226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/akregator-17.11.80.tar.xz">akregator-17.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0547f7cb8ab23460ec313a8a4c35e49e4e31715d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/analitza-17.11.80.tar.xz">analitza-17.11.80</a></td>
   <td align="right">323kB</td>
   <td><tt>7d37197b5d9eca3f5a460a8dcc2d236110b45ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ark-17.11.80.tar.xz">ark-17.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0b8eee68c5153080c96a0fbfc20157c9228210db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/artikulate-17.11.80.tar.xz">artikulate-17.11.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>a156be792632ca500a64cc08b187fee461314272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/audiocd-kio-17.11.80.tar.xz">audiocd-kio-17.11.80</a></td>
   <td align="right">242kB</td>
   <td><tt>32662e3afee79321363def1f736018e03de0986e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/baloo-widgets-17.11.80.tar.xz">baloo-widgets-17.11.80</a></td>
   <td align="right">148kB</td>
   <td><tt>9e4d39a679ff69c1b60f359930f393a683da5d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/blinken-17.11.80.tar.xz">blinken-17.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>011d42d7738936cbbfb1785f8377a1e567c358f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/bomber-17.11.80.tar.xz">bomber-17.11.80</a></td>
   <td align="right">736kB</td>
   <td><tt>9629375dfa3bec3549bfb39bcb86159397a9363f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/bovo-17.11.80.tar.xz">bovo-17.11.80</a></td>
   <td align="right">182kB</td>
   <td><tt>71253af6d1bcfb966b54d0ce0ea8083a06057402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/calendarsupport-17.11.80.tar.xz">calendarsupport-17.11.80</a></td>
   <td align="right">629kB</td>
   <td><tt>d355cf6a7086e37c3ca3f6788e7f2c7082914fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/cantor-17.11.80.tar.xz">cantor-17.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>766a0e1e755665b993ff6ceec6e1216adc30e623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/cervisia-17.11.80.tar.xz">cervisia-17.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>822cf595ac796b1faf715812c3f5d46acc66b2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/dolphin-17.11.80.tar.xz">dolphin-17.11.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>2c96dab9c049e2c2ac5e3b0769c809611d8bfb44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/dolphin-plugins-17.11.80.tar.xz">dolphin-plugins-17.11.80</a></td>
   <td align="right">182kB</td>
   <td><tt>3950bc7d0ca9ff60ac98ef6ff5ba4cda18cfda3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/dragon-17.11.80.tar.xz">dragon-17.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8ee35e0d937870cea6c0a0dad6e6af358ac7d2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/eventviews-17.11.80.tar.xz">eventviews-17.11.80</a></td>
   <td align="right">422kB</td>
   <td><tt>a58dd9d831c988c54b2aca69c51813a7d3c88681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ffmpegthumbs-17.11.80.tar.xz">ffmpegthumbs-17.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>d32a7e78a5836fc2d040f7ea51238ee20a651169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/filelight-17.11.80.tar.xz">filelight-17.11.80</a></td>
   <td align="right">638kB</td>
   <td><tt>2ed8d01803b23c77c7a8387bd58b5a6ff184cd00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/granatier-17.11.80.tar.xz">granatier-17.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>85c21ef675ab9686be528a9b5533f55458016ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/grantlee-editor-17.11.80.tar.xz">grantlee-editor-17.11.80</a></td>
   <td align="right">107kB</td>
   <td><tt>14da9ecef297a988f21d1e6e8a6110929644f960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/grantleetheme-17.11.80.tar.xz">grantleetheme-17.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>326da1e2275b5b833751c234b7db8079046dd87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/gwenview-17.11.80.tar.xz">gwenview-17.11.80</a></td>
   <td align="right">5.7MB</td>
   <td><tt>f13f96d08f0208aa3a00553c473f31564be9a712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/incidenceeditor-17.11.80.tar.xz">incidenceeditor-17.11.80</a></td>
   <td align="right">506kB</td>
   <td><tt>131ec975c9c030551e908a2b4dd647c5cc2d936a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/juk-17.11.80.tar.xz">juk-17.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>57ed7dd0a9e1a939f7cb11f51aeb24ce80319e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/k3b-17.11.80.tar.xz">k3b-17.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>d1336804e8a08e43f894fe54ddcf04cf34f2abb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kaccounts-integration-17.11.80.tar.xz">kaccounts-integration-17.11.80</a></td>
   <td align="right">68kB</td>
   <td><tt>56292e0c9363adde4f2bbdff093a62097b81f588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kaccounts-providers-17.11.80.tar.xz">kaccounts-providers-17.11.80</a></td>
   <td align="right">31kB</td>
   <td><tt>6d8b4a75bc506c88e6596396857612dcb2ca79c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kaddressbook-17.11.80.tar.xz">kaddressbook-17.11.80</a></td>
   <td align="right">533kB</td>
   <td><tt>cf187d55b041ccddffc7f8e6e2d07b12e30bbbff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kajongg-17.11.80.tar.xz">kajongg-17.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>5b1b6bd3e3037ce150ebf49393b88a883a1a413a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kalarm-17.11.80.tar.xz">kalarm-17.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cd1336376a4125e192970798b750b010341ba416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kalarmcal-17.11.80.tar.xz">kalarmcal-17.11.80</a></td>
   <td align="right">483kB</td>
   <td><tt>1896e36478ff7c31bcd48d6a86df63979be65c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kalgebra-17.11.80.tar.xz">kalgebra-17.11.80</a></td>
   <td align="right">674kB</td>
   <td><tt>1804cec140d3bce81ecf709d073b7ae9018f7fa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kalzium-17.11.80.tar.xz">kalzium-17.11.80</a></td>
   <td align="right">23MB</td>
   <td><tt>437181b6a52672de5e2d21594db7099371dc9090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kamera-17.11.80.tar.xz">kamera-17.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>ffc26ae275d976348dae76b3fb0c55325de137f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kanagram-17.11.80.tar.xz">kanagram-17.11.80</a></td>
   <td align="right">7.1MB</td>
   <td><tt>2091b4a74801ca83d12c97fc7072f8c8c2b89cf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kapman-17.11.80.tar.xz">kapman-17.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2062aec64a32c0d9e35d341035679ec4147eafd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kapptemplate-17.11.80.tar.xz">kapptemplate-17.11.80</a></td>
   <td align="right">345kB</td>
   <td><tt>187f8fbfa96c30fd3e04ca5a6baf24b4e77184e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kate-17.11.80.tar.xz">kate-17.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>630ab555723b4a6d30d34841fd490cf1564af801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/katomic-17.11.80.tar.xz">katomic-17.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0a60e8361dcffc045a1f5671abd6abb0580ff611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kblackbox-17.11.80.tar.xz">kblackbox-17.11.80</a></td>
   <td align="right">392kB</td>
   <td><tt>77552cc004cfa3970d4ba85681e61c595b594b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kblocks-17.11.80.tar.xz">kblocks-17.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>23a93b583e693287653f95626c42a44b96c06a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kblog-17.11.80.tar.xz">kblog-17.11.80</a></td>
   <td align="right">70kB</td>
   <td><tt>64de9f46f4cec33a6ec627ec9b8bec42e280493e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kbounce-17.11.80.tar.xz">kbounce-17.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>5a43912163e2f77f8960b5c2dfa156f6ebe38a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kbreakout-17.11.80.tar.xz">kbreakout-17.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>13de728278f6a8c595435476555d5d02aeb1d1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kbruch-17.11.80.tar.xz">kbruch-17.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>adb37b9e59c76234fc2152b0ed41c03ee56e219f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcachegrind-17.11.80.tar.xz">kcachegrind-17.11.80</a></td>
   <td align="right">794kB</td>
   <td><tt>aebcb9fb694491eaba528747d3e4bc63d56d51d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcalc-17.11.80.tar.xz">kcalc-17.11.80</a></td>
   <td align="right">351kB</td>
   <td><tt>a46eff8a0933642577d7319b037f265181b664ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcalcore-17.11.80.tar.xz">kcalcore-17.11.80</a></td>
   <td align="right">271kB</td>
   <td><tt>d4dba087779e941e8d1c0f545537a189e9c8d275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcalutils-17.11.80.tar.xz">kcalutils-17.11.80</a></td>
   <td align="right">318kB</td>
   <td><tt>b29f831225a74fe940e64fe6b0e78e81426e9cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcharselect-17.11.80.tar.xz">kcharselect-17.11.80</a></td>
   <td align="right">342kB</td>
   <td><tt>397a6687a1a1c0f84d6e8d72a4699f985a68f2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcolorchooser-17.11.80.tar.xz">kcolorchooser-17.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>eb2fb0351b28e959e16301a7fe179a5636f1ce2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcontacts-17.11.80.tar.xz">kcontacts-17.11.80</a></td>
   <td align="right">202kB</td>
   <td><tt>db0a363523f795a1b6a15e1908234528d1ae0c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kcron-17.11.80.tar.xz">kcron-17.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b345d458d096b2856a8c64e9dc1429255e654f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdav-17.11.80.tar.xz">kdav-17.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>4b5f098b58f3b12e3f994665ca0c1ffe043a076d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdebugsettings-17.11.80.tar.xz">kdebugsettings-17.11.80</a></td>
   <td align="right">47kB</td>
   <td><tt>153c58328675bc2743eae608fef8c4ec86b291fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kde-dev-scripts-17.11.80.tar.xz">kde-dev-scripts-17.11.80</a></td>
   <td align="right">367kB</td>
   <td><tt>e07a104a504789d88f0123271205d98c3da52315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kde-dev-utils-17.11.80.tar.xz">kde-dev-utils-17.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>80b219f0d9fa3cc6c2e0454f6aaf19fdc13976c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdeedu-data-17.11.80.tar.xz">kdeedu-data-17.11.80</a></td>
   <td align="right">319kB</td>
   <td><tt>52c41f7d61244efb92fc556f0296a893bb4a89e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdegraphics-mobipocket-17.11.80.tar.xz">kdegraphics-mobipocket-17.11.80</a></td>
   <td align="right">13kB</td>
   <td><tt>30ed92cf5bab0bae0407cf3fc58849bd6a09eee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdegraphics-thumbnailers-17.11.80.tar.xz">kdegraphics-thumbnailers-17.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>584514b6961b691c2af9c07d582d2c8f2ab93a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdenetwork-filesharing-17.11.80.tar.xz">kdenetwork-filesharing-17.11.80</a></td>
   <td align="right">315kB</td>
   <td><tt>36da6317acaa31caaf4abb4b50cbfa9db23244c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdenlive-17.11.80.tar.xz">kdenlive-17.11.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>f73a8f729a451961c6d15cfd698a0bab0a5b3e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdepim-addons-17.11.80.tar.xz">kdepim-addons-17.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>43dd0ef577700055dcb7c3d82b5b5749fe0bff34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdepim-apps-libs-17.11.80.tar.xz">kdepim-apps-libs-17.11.80</a></td>
   <td align="right">71kB</td>
   <td><tt>bf5c3e661ba6d444f92284d4d27bbd2b265cfd9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdepim-runtime-17.11.80.tar.xz">kdepim-runtime-17.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dc21ce23d53dc9e9ea919248cdf0143172aa7653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdesdk-kioslaves-17.11.80.tar.xz">kdesdk-kioslaves-17.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>d52678b9775ca29a99f440037f8a3391085a6e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdesdk-thumbnailers-17.11.80.tar.xz">kdesdk-thumbnailers-17.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>0007c203c15b4150a1cf14b8fbc3f1eb87003f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdf-17.11.80.tar.xz">kdf-17.11.80</a></td>
   <td align="right">518kB</td>
   <td><tt>95efcad88326d8b1d826c332022dcee03dbbd157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdialog-17.11.80.tar.xz">kdialog-17.11.80</a></td>
   <td align="right">93kB</td>
   <td><tt>ed4b5b04330c7f5c857f54fd969a78980141fc59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kdiamond-17.11.80.tar.xz">kdiamond-17.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>a2f77a89901795b1be1f1010fb8f7a1627363a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/keditbookmarks-17.11.80.tar.xz">keditbookmarks-17.11.80</a></td>
   <td align="right">178kB</td>
   <td><tt>5594d166e7653897400816f1557193dc5a094bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kfind-17.11.80.tar.xz">kfind-17.11.80</a></td>
   <td align="right">204kB</td>
   <td><tt>47b6d6fc2de6825acd260a29707a13d5ec8b67aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kfloppy-17.11.80.tar.xz">kfloppy-17.11.80</a></td>
   <td align="right">194kB</td>
   <td><tt>12974310d3454c76363e816836c706ae12948e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kfourinline-17.11.80.tar.xz">kfourinline-17.11.80</a></td>
   <td align="right">559kB</td>
   <td><tt>9c58a0843801263a713c837b4c3e96ea50f85eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kgeography-17.11.80.tar.xz">kgeography-17.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>9a4816792f3c5c5a285f270aa44d2922ad26e14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kget-17.11.80.tar.xz">kget-17.11.80</a></td>
   <td align="right">5.1MB</td>
   <td><tt>3a3c8308b4986916ba4469fb2aa77566d9cfaca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kgoldrunner-17.11.80.tar.xz">kgoldrunner-17.11.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>7b684cb0c53c859a4a749619994edba8f1d8cdef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kgpg-17.11.80.tar.xz">kgpg-17.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d4f66a4b3a681a6dc532556b3b5aa8c5f4c23c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/khangman-17.11.80.tar.xz">khangman-17.11.80</a></td>
   <td align="right">6.1MB</td>
   <td><tt>25d3c3b73c5635124a94de08d9c14f60ae6cf0ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/khelpcenter-17.11.80.tar.xz">khelpcenter-17.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>32e6b9160ed0deb5da2b30da1c32993102394753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kholidays-17.11.80.tar.xz">kholidays-17.11.80</a></td>
   <td align="right">197kB</td>
   <td><tt>274b9f124427ddf1cedd10a91b6b04ae8bd5dbf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kidentitymanagement-17.11.80.tar.xz">kidentitymanagement-17.11.80</a></td>
   <td align="right">144kB</td>
   <td><tt>25e28d9a2daae49061b36708a7549a1d90fe2010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kig-17.11.80.tar.xz">kig-17.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>41b1567e9c8e288a26843783d282dabd6e4afd14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kigo-17.11.80.tar.xz">kigo-17.11.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>4d2188f7b11ae61e1e06a40377c38a309501a84d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/killbots-17.11.80.tar.xz">killbots-17.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2c8c9bf13c8610f36ef69ed41b358f9bd5922f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kimagemapeditor-17.11.80.tar.xz">kimagemapeditor-17.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2372e3d4561677443ee3b610f174ef64002d92e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kimap-17.11.80.tar.xz">kimap-17.11.80</a></td>
   <td align="right">116kB</td>
   <td><tt>38e508d898905e31d5a560951b1eb8b991028400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kio-extras-17.11.80.tar.xz">kio-extras-17.11.80</a></td>
   <td align="right">539kB</td>
   <td><tt>773e441ed2cd97373134561f28ba6b0725ef1e82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kiriki-17.11.80.tar.xz">kiriki-17.11.80</a></td>
   <td align="right">318kB</td>
   <td><tt>57f413a98014addd280a386e7d45349e29dd6141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kiten-17.11.80.tar.xz">kiten-17.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>79282808db6efb8154deefdd567d95d2b8b6c3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kjumpingcube-17.11.80.tar.xz">kjumpingcube-17.11.80</a></td>
   <td align="right">286kB</td>
   <td><tt>900935cb982185532b69ff24ac5ab44f57d78c92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kldap-17.11.80.tar.xz">kldap-17.11.80</a></td>
   <td align="right">151kB</td>
   <td><tt>7b6ba566c0bc10d80a71d72e945d0ea0115f0229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kleopatra-17.11.80.tar.xz">kleopatra-17.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1f404dacb966e9e1b580aac790dacc02a58fdaca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/klettres-17.11.80.tar.xz">klettres-17.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>bcabb592964e30618047c30cd957faee778063fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/klickety-17.11.80.tar.xz">klickety-17.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>605f5404c276cbd00402e28ec52dab4dab82447b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/klines-17.11.80.tar.xz">klines-17.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2b18305be1d92500bb4d0fda50319dee1ad73898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmag-17.11.80.tar.xz">kmag-17.11.80</a></td>
   <td align="right">574kB</td>
   <td><tt>59bde397b4dd12022dd170fc5a45f2fb69c4c461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmahjongg-17.11.80.tar.xz">kmahjongg-17.11.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>9cbf74ad33d93608b93113d515a4f8d0bb2ce377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmail-17.11.80.tar.xz">kmail-17.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>bfbfd6b00479c831dd3d01b6c9828a0be9c86192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmail-account-wizard-17.11.80.tar.xz">kmail-account-wizard-17.11.80</a></td>
   <td align="right">147kB</td>
   <td><tt>dd0c69214a43aca947861b0a7b414ea1caeee526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmailtransport-17.11.80.tar.xz">kmailtransport-17.11.80</a></td>
   <td align="right">161kB</td>
   <td><tt>b1354bf4cd2595b387203aa46eb03b690fb8e4c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmbox-17.11.80.tar.xz">kmbox-17.11.80</a></td>
   <td align="right">23kB</td>
   <td><tt>a276b0b1e059e76edf72b84a4c7d847eae2b086c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmime-17.11.80.tar.xz">kmime-17.11.80</a></td>
   <td align="right">142kB</td>
   <td><tt>59a1d57fe82b11933624ef85fd77bd7803716a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmines-17.11.80.tar.xz">kmines-17.11.80</a></td>
   <td align="right">861kB</td>
   <td><tt>b14453d6d3dbbb80214be14fd21948acbb1925f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmix-17.11.80.tar.xz">kmix-17.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>92e3b3ead7244bf54b2feb66ffc546eb0bbbe949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmousetool-17.11.80.tar.xz">kmousetool-17.11.80</a></td>
   <td align="right">108kB</td>
   <td><tt>200a57e7a34d86072b9eb1a5e965c1cae3f2a8f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmouth-17.11.80.tar.xz">kmouth-17.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8d5a6a7b47a109e3fd4a514a0a845bc2a977affa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kmplot-17.11.80.tar.xz">kmplot-17.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a84e19d797149011c447fa909821991aa2339494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/knavalbattle-17.11.80.tar.xz">knavalbattle-17.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f37efde694df4bcb97645b54ff8cf281155d5fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/knetwalk-17.11.80.tar.xz">knetwalk-17.11.80</a></td>
   <td align="right">958kB</td>
   <td><tt>5f4e6a2e1c043e0bd35d034427d835b0f297d172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/knotes-17.11.80.tar.xz">knotes-17.11.80</a></td>
   <td align="right">325kB</td>
   <td><tt>be8213e5167060ea6de1e7e5ea2d6e8b4d1732f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kolf-17.11.80.tar.xz">kolf-17.11.80</a></td>
   <td align="right">902kB</td>
   <td><tt>ee1b8d0e3fa537125378d5afc072582262a31aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kollision-17.11.80.tar.xz">kollision-17.11.80</a></td>
   <td align="right">265kB</td>
   <td><tt>e96693f73307ada7cd39ecbe9b27ad0924146bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kolourpaint-17.11.80.tar.xz">kolourpaint-17.11.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>74eebdd65240ca35a72fa85df1d3beaa36a1caf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kompare-17.11.80.tar.xz">kompare-17.11.80</a></td>
   <td align="right">695kB</td>
   <td><tt>f00537b20695f32e7529ec918c9f2a2ea18b14fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/konqueror-17.11.80.tar.xz">konqueror-17.11.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>6bcefb15ebe3ab1523bb709bcc846dc92fc02a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/konquest-17.11.80.tar.xz">konquest-17.11.80</a></td>
   <td align="right">642kB</td>
   <td><tt>fb883a57f650473435d60662421f2fe7c5ceba47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/konsole-17.11.80.tar.xz">konsole-17.11.80</a></td>
   <td align="right">1001kB</td>
   <td><tt>bb969ec1750997d6974a8ac0193b4b9a92bf1655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kontact-17.11.80.tar.xz">kontact-17.11.80</a></td>
   <td align="right">839kB</td>
   <td><tt>e7549fcb43ad5733fe7721fede88a58d3ca80d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kontactinterface-17.11.80.tar.xz">kontactinterface-17.11.80</a></td>
   <td align="right">32kB</td>
   <td><tt>772897626a58f3be8d5d3eefffcca9bb376c6883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/korganizer-17.11.80.tar.xz">korganizer-17.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e18f723202df240fe26e19bad7953e1b2e88fcf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kpat-17.11.80.tar.xz">kpat-17.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>95ab20cb22d3c73335b446b2ecdc3d62686c8bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kpimtextedit-17.11.80.tar.xz">kpimtextedit-17.11.80</a></td>
   <td align="right">137kB</td>
   <td><tt>a570bc7e3268bbce7b23af8cf3e6e7f37fd700b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kqtquickcharts-17.11.80.tar.xz">kqtquickcharts-17.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>3fe0799d70dff718e9b96539df6448a9bcd320b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/krdc-17.11.80.tar.xz">krdc-17.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a37759cd4871adf1c6973a0e9c151002b5a56385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kreversi-17.11.80.tar.xz">kreversi-17.11.80</a></td>
   <td align="right">888kB</td>
   <td><tt>5c4b96f658882e492f0e5769d3738c6229c941ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/krfb-17.11.80.tar.xz">krfb-17.11.80</a></td>
   <td align="right">968kB</td>
   <td><tt>ea49e1d1e7a18e56e7f09eb7be4482d6b54446d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kross-interpreters-17.11.80.tar.xz">kross-interpreters-17.11.80</a></td>
   <td align="right">141kB</td>
   <td><tt>8657819bbaedb6ceda757807ff0ec51d8e613719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kruler-17.11.80.tar.xz">kruler-17.11.80</a></td>
   <td align="right">253kB</td>
   <td><tt>57692333e8198bfbb413890b80541e89bd9231af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kshisen-17.11.80.tar.xz">kshisen-17.11.80</a></td>
   <td align="right">692kB</td>
   <td><tt>4617b9d5e574a3ca2f7cd441ac223676e4523b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ksirk-17.11.80.tar.xz">ksirk-17.11.80</a></td>
   <td align="right">5.8MB</td>
   <td><tt>00b79fdc692ae94cbc1425d470fc43ec93e8d751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ksmtp-17.11.80.tar.xz">ksmtp-17.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>1b776ba2ce923bdeb282fce95d66c3953818e503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ksnakeduel-17.11.80.tar.xz">ksnakeduel-17.11.80</a></td>
   <td align="right">591kB</td>
   <td><tt>5ce7ea6c499940b34865a981381a78cc65d99905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kspaceduel-17.11.80.tar.xz">kspaceduel-17.11.80</a></td>
   <td align="right">595kB</td>
   <td><tt>a65841d693cabfa2f93750383acd13f9b48084ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ksquares-17.11.80.tar.xz">ksquares-17.11.80</a></td>
   <td align="right">210kB</td>
   <td><tt>ded4e1211148a78669ab9ae67f8205695070c1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ksudoku-17.11.80.tar.xz">ksudoku-17.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9a42586bd6c8a907f8c284cfda2a8435e995b07d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ksystemlog-17.11.80.tar.xz">ksystemlog-17.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a8737332a11d71b1813e4edc0106165408828bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kteatime-17.11.80.tar.xz">kteatime-17.11.80</a></td>
   <td align="right">290kB</td>
   <td><tt>09c901faa711d859fb71af6093b8c486aaa20fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktimer-17.11.80.tar.xz">ktimer-17.11.80</a></td>
   <td align="right">441kB</td>
   <td><tt>d10746950e4181a85b9ad503a7addc317f9b95b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktnef-17.11.80.tar.xz">ktnef-17.11.80</a></td>
   <td align="right">292kB</td>
   <td><tt>4640c7a8e0aa07da9f7a0648dfc4b7b7a7945892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktouch-17.11.80.tar.xz">ktouch-17.11.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>f83bc4d04f5b5c6adcf77b3030d28f4248c0247e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-accounts-kcm-17.11.80.tar.xz">ktp-accounts-kcm-17.11.80</a></td>
   <td align="right">256kB</td>
   <td><tt>46e52486cbc0782ffb4951357cbb1e73cb153086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-approver-17.11.80.tar.xz">ktp-approver-17.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>e5900f8c730ae2de2789c5c11c105ee250549194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-auth-handler-17.11.80.tar.xz">ktp-auth-handler-17.11.80</a></td>
   <td align="right">45kB</td>
   <td><tt>1e7737c3e83c3c5dae43173347b86e58d93a81af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-call-ui-17.11.80.tar.xz">ktp-call-ui-17.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>844cb3146eab5f6f5fa439d922cddfbc88a04b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-common-internals-17.11.80.tar.xz">ktp-common-internals-17.11.80</a></td>
   <td align="right">431kB</td>
   <td><tt>c4d6d90285496a2d7d8e3e5b4ffd4fd568e0c558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-contact-list-17.11.80.tar.xz">ktp-contact-list-17.11.80</a></td>
   <td align="right">128kB</td>
   <td><tt>acb9a08048b0ac5061c14d5e29d125b962a7178c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-contact-runner-17.11.80.tar.xz">ktp-contact-runner-17.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>96138de35d2c1787a16f12c0f7518ba97fcdd275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-desktop-applets-17.11.80.tar.xz">ktp-desktop-applets-17.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>8274fefb055c2785a0fba2c065dfe4d70d3e75a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-filetransfer-handler-17.11.80.tar.xz">ktp-filetransfer-handler-17.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>2320973e0af6ed9a7e03d21ac2b741bf92c325e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-kded-module-17.11.80.tar.xz">ktp-kded-module-17.11.80</a></td>
   <td align="right">79kB</td>
   <td><tt>1cf1d6e27da0b4d31f8ef7c8fc5744b407b23c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-send-file-17.11.80.tar.xz">ktp-send-file-17.11.80</a></td>
   <td align="right">28kB</td>
   <td><tt>bac4f934300e0306b8072bd3ef7edff054bfa563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktp-text-ui-17.11.80.tar.xz">ktp-text-ui-17.11.80</a></td>
   <td align="right">457kB</td>
   <td><tt>0d0e4fa906c8ea1c3fcacb9efd743ac944de47f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/ktuberling-17.11.80.tar.xz">ktuberling-17.11.80</a></td>
   <td align="right">31MB</td>
   <td><tt>eaba0643684afc2615b762b150ec6b4eae6a0222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kturtle-17.11.80.tar.xz">kturtle-17.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>473f99049877b0342fd98e3d6e866e17fafc5543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kubrick-17.11.80.tar.xz">kubrick-17.11.80</a></td>
   <td align="right">299kB</td>
   <td><tt>63c2207a306d8ae04555ff76b4e11faf38dd01f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kwalletmanager-17.11.80.tar.xz">kwalletmanager-17.11.80</a></td>
   <td align="right">760kB</td>
   <td><tt>926d8803c7eff625199ff50db35ece89326fa7ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kwave-17.11.80.tar.xz">kwave-17.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>bd6204cce0051dcafabbb226410f59ea9a6094d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/kwordquiz-17.11.80.tar.xz">kwordquiz-17.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a016d516c68788162ec0b8ef73550df6e6192a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libgravatar-17.11.80.tar.xz">libgravatar-17.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>27b1c693e901dfd999b0a641df1defe77d26171f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkcddb-17.11.80.tar.xz">libkcddb-17.11.80</a></td>
   <td align="right">414kB</td>
   <td><tt>4a2fcea203fda8b2f516c2e15bfd9b64bb913525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkcompactdisc-17.11.80.tar.xz">libkcompactdisc-17.11.80</a></td>
   <td align="right">86kB</td>
   <td><tt>9eb0ebfa1d20f504965a23d98d6384398191923a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkdcraw-17.11.80.tar.xz">libkdcraw-17.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>2d4d1628bdc6ffa70bb6ace5f2f80fb2ffdb2d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkdegames-17.11.80.tar.xz">libkdegames-17.11.80</a></td>
   <td align="right">5.6MB</td>
   <td><tt>1e4fcf9b049ea65912d850aa0fcb906abf7d24ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkdepim-17.11.80.tar.xz">libkdepim-17.11.80</a></td>
   <td align="right">331kB</td>
   <td><tt>363bb24d71c6005054de9233b8a8e9bf2d6e5350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkeduvocdocument-17.11.80.tar.xz">libkeduvocdocument-17.11.80</a></td>
   <td align="right">204kB</td>
   <td><tt>bfb0152f3e60e21470be23e77489ff5d345607b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkexiv2-17.11.80.tar.xz">libkexiv2-17.11.80</a></td>
   <td align="right">62kB</td>
   <td><tt>dbd8de39f0b59def3823efa0cf1883f72ae693af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkgapi-17.11.80.tar.xz">libkgapi-17.11.80</a></td>
   <td align="right">170kB</td>
   <td><tt>8c73690468168f3242163be25b594195dbd1807f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkgeomap-17.11.80.tar.xz">libkgeomap-17.11.80</a></td>
   <td align="right">146kB</td>
   <td><tt>d9b8390579a85053ed394bec4a35ad4239e44090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkipi-17.11.80.tar.xz">libkipi-17.11.80</a></td>
   <td align="right">101kB</td>
   <td><tt>347b731fcf56eb14ced22d84f750f3c5f69de919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkleo-17.11.80.tar.xz">libkleo-17.11.80</a></td>
   <td align="right">307kB</td>
   <td><tt>c988486ce9835d3be136b86d2d44dbd942341aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkmahjongg-17.11.80.tar.xz">libkmahjongg-17.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>23040ca45f54236200da442af66c27332d210a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libkomparediff2-17.11.80.tar.xz">libkomparediff2-17.11.80</a></td>
   <td align="right">172kB</td>
   <td><tt>a9924f744ee70138e523a8769f6ed3db986afc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libksane-17.11.80.tar.xz">libksane-17.11.80</a></td>
   <td align="right">133kB</td>
   <td><tt>13f01117612f1d0a374f58b59d0c7682484d47e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/libksieve-17.11.80.tar.xz">libksieve-17.11.80</a></td>
   <td align="right">534kB</td>
   <td><tt>bc37348753cc00a1c1dd8c55231deb0c3a866bcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/lokalize-17.11.80.tar.xz">lokalize-17.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8e0177810b9ee8e59fb64838eb6dff1a437e81a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/lskat-17.11.80.tar.xz">lskat-17.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b0b7d7798137f7d31d13cf5abda94fce42e95d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/mailcommon-17.11.80.tar.xz">mailcommon-17.11.80</a></td>
   <td align="right">668kB</td>
   <td><tt>d4a1a50a99733a397f44be970cdc81003ce9e148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/mailimporter-17.11.80.tar.xz">mailimporter-17.11.80</a></td>
   <td align="right">528kB</td>
   <td><tt>10c83be9d873ce9b305af615cc36d093811df2ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/marble-17.11.80.tar.xz">marble-17.11.80</a></td>
   <td align="right">49MB</td>
   <td><tt>b2a442fcc1330e07e364aad0103715cd1cc44410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/mbox-importer-17.11.80.tar.xz">mbox-importer-17.11.80</a></td>
   <td align="right">32kB</td>
   <td><tt>4a787737b25a7686e23f2e0dd8e258737bd3a1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/messagelib-17.11.80.tar.xz">messagelib-17.11.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>69ea6a54a1eb4468b32945428ec15877285e2e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/minuet-17.11.80.tar.xz">minuet-17.11.80</a></td>
   <td align="right">26MB</td>
   <td><tt>084f04ece10ebb8fcdc694eee83c0bd89f8eb00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/okteta-17.11.80.tar.xz">okteta-17.11.80</a></td>
   <td align="right">940kB</td>
   <td><tt>4867a4b341c27d1b2fd7f179170163afcb810b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/okular-17.11.80.tar.xz">okular-17.11.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>8ca46febde84c18e31e10687edd46dd371d8c3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/palapeli-17.11.80.tar.xz">palapeli-17.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>839e20f45fb3e6153c49db3fdf85f2331d880813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/parley-17.11.80.tar.xz">parley-17.11.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ff06db703d10dd51a9ab87afaa81036c2ea908ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/picmi-17.11.80.tar.xz">picmi-17.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9cafe5de534d8d45f9912de6180ca8b7dd70c51a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/pimcommon-17.11.80.tar.xz">pimcommon-17.11.80</a></td>
   <td align="right">281kB</td>
   <td><tt>e00784b0aef5113aa8c6110f8adeb1916eee3dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/pim-data-exporter-17.11.80.tar.xz">pim-data-exporter-17.11.80</a></td>
   <td align="right">260kB</td>
   <td><tt>4085522dff60a40cfd35470d78097ba19b79afd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/pim-sieve-editor-17.11.80.tar.xz">pim-sieve-editor-17.11.80</a></td>
   <td align="right">433kB</td>
   <td><tt>55ee416dcfdf061207bce4630556a256cafe29bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/poxml-17.11.80.tar.xz">poxml-17.11.80</a></td>
   <td align="right">41kB</td>
   <td><tt>727716688e1e8808fae126e503a8c42830b5d115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/print-manager-17.11.80.tar.xz">print-manager-17.11.80</a></td>
   <td align="right">231kB</td>
   <td><tt>b05e74f92bba420a7692a449759c05a07cdad700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/rocs-17.11.80.tar.xz">rocs-17.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>6dfddc5eb33a890cba9665d1f7ad5f47c6de2f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/signon-kwallet-extension-17.11.80.tar.xz">signon-kwallet-extension-17.11.80</a></td>
   <td align="right">10kB</td>
   <td><tt>8d131774fe91087ceb80346452ab1bd5124832ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/spectacle-17.11.80.tar.xz">spectacle-17.11.80</a></td>
   <td align="right">743kB</td>
   <td><tt>2daa3bd489c6dd53b592e2187e4c37cd7607cf67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/step-17.11.80.tar.xz">step-17.11.80</a></td>
   <td align="right">843kB</td>
   <td><tt>39e4bcccae1a924fbb644a40b18f9dd9f504f20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/svgpart-17.11.80.tar.xz">svgpart-17.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>6282d46078d67ec2500022791c4fc2a71ab2962a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/sweeper-17.11.80.tar.xz">sweeper-17.11.80</a></td>
   <td align="right">373kB</td>
   <td><tt>0c34fffa2353c5cb43fd5e9aa78c0ed84c6ae30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/syndication-17.11.80.tar.xz">syndication-17.11.80</a></td>
   <td align="right">156kB</td>
   <td><tt>8207d3df07941db2ec69177e8413ee397ed364ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/umbrello-17.11.80.tar.xz">umbrello-17.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1a2a2d48908ac5d09b91f52c413c02e4d4087dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.80/src/zeroconf-ioslave-17.11.80.tar.xz">zeroconf-ioslave-17.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>82023db9bbecc880d62bf5cbd77483ba3f780fe5</tt></td>
</tr>

</table>
