<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/bluedevil-5.16.90.tar.xz">bluedevil-5.16.90</a></td>
   <td align="right">156kB</td>
   <td><tt>44ea2b8f795f2ffd88fff02dd32d5cb280af59896ce2c6a320612bd0d13e160e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/breeze-5.16.90.tar.xz">breeze-5.16.90</a></td>
   <td align="right">15MB</td>
   <td><tt>6203f1630a0b3b7870314690f8ad7df1f17b1cba5e415d6ad5f7191da5ca103f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/breeze-grub-5.16.90.tar.xz">breeze-grub-5.16.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>d51264ea7cad6601d1313b3ef5b40e64c674105a6001be04ad2409f1ff5fb7d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/breeze-gtk-5.16.90.tar.xz">breeze-gtk-5.16.90</a></td>
   <td align="right">43kB</td>
   <td><tt>79bd34fc7bb957ba10d7542fe0c275a8fc7890830f29d5b6e8b5d0bd6bc3250c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/breeze-plymouth-5.16.90.tar.xz">breeze-plymouth-5.16.90</a></td>
   <td align="right">103kB</td>
   <td><tt>1c445499c9ceff96de45aee9cafbd22b1896e56d44ab4ff2a67f23971ffccf0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/discover-5.16.90.tar.xz">discover-5.16.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>8da8f2ff38a672ef0de2d3146fd797c1e08095f31188dd6a936720fd8d916713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/drkonqi-5.16.90.tar.xz">drkonqi-5.16.90</a></td>
   <td align="right">722kB</td>
   <td><tt>7cfd04621a80ca956a17803f208d30b9f3763a1b65216acb944ce0f7e94b961e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kactivitymanagerd-5.16.90.tar.xz">kactivitymanagerd-5.16.90</a></td>
   <td align="right">86kB</td>
   <td><tt>c360b34aac66b1c7f005267ec91ae51a4cbd97324b176ed25a47375334d4fed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kde-cli-tools-5.16.90.tar.xz">kde-cli-tools-5.16.90</a></td>
   <td align="right">578kB</td>
   <td><tt>e4feeb291d5df65334fd88ac11db6ca02652b419ef4f977087e4323127f747d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kdecoration-5.16.90.tar.xz">kdecoration-5.16.90</a></td>
   <td align="right">42kB</td>
   <td><tt>b2f8c129f8bf0597a15888d9c0b9b3f5750f4fa8daffb2de8543918c2888b200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kde-gtk-config-5.16.90.tar.xz">kde-gtk-config-5.16.90</a></td>
   <td align="right">151kB</td>
   <td><tt>042608535bf9e08216f97fb4ff1e81586cb05f62e934cf3378d7e109905a5a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kdeplasma-addons-5.16.90.tar.xz">kdeplasma-addons-5.16.90</a></td>
   <td align="right">592kB</td>
   <td><tt>86b3f25eb889273e27e518074278759dbcc841105a1f6f4fa2bb47b50c2a298d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kgamma5-5.16.90.tar.xz">kgamma5-5.16.90</a></td>
   <td align="right">78kB</td>
   <td><tt>8e8cb2e89bc8c69a8cd26b62f27ee182f2efc9db4b5e7127a99a4b101e093d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/khotkeys-5.16.90.tar.xz">khotkeys-5.16.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f0cd9b783086e867ed58c5524a9f9ee29490f9cc46fdc1fe5430fceabb014f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kinfocenter-5.16.90.tar.xz">kinfocenter-5.16.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a1470dd90c2b490d28887877f0fe21cb36bdbb3bf02bc00c8f240d66c7f8fc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kmenuedit-5.16.90.tar.xz">kmenuedit-5.16.90</a></td>
   <td align="right">796kB</td>
   <td><tt>199014233078d7d1ef9ab7f8b284e5791db05c57c68d4a32d899b678b4ac21ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kscreen-5.16.90.tar.xz">kscreen-5.16.90</a></td>
   <td align="right">94kB</td>
   <td><tt>d1ec266b2e13757429ad1c68d31e118e9be8283810678e73693cbc5e7954cb7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kscreenlocker-5.16.90.tar.xz">kscreenlocker-5.16.90</a></td>
   <td align="right">121kB</td>
   <td><tt>9f2d984dbd70919326b92c119ccf8223673f62367d04d172dd5d852ce1fd2f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/ksshaskpass-5.16.90.tar.xz">ksshaskpass-5.16.90</a></td>
   <td align="right">21kB</td>
   <td><tt>f3f1bad8796a918e3e11fff1b4597dc8f65fbdafc164556b282ac670ecc3a75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/ksysguard-5.16.90.tar.xz">ksysguard-5.16.90</a></td>
   <td align="right">502kB</td>
   <td><tt>2ee6530ae54f30f4ba327272c731ccafea928823315539f4b7b55d45226cf062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kwallet-pam-5.16.90.tar.xz">kwallet-pam-5.16.90</a></td>
   <td align="right">19kB</td>
   <td><tt>3bed01e50cbd52ec89cbe5abc9e48811810eefe99998f02aa09e9f7903e5f587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kwayland-integration-5.16.90.tar.xz">kwayland-integration-5.16.90</a></td>
   <td align="right">19kB</td>
   <td><tt>cdf6527016353b55cc61f34c34455c7eddb6afabbc6bd9e7b05432200f2be3cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kwin-5.16.90.tar.xz">kwin-5.16.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>581f0578bfe0c6e53962d76ba1ca0d758d3217fe98954f9dd405f8511d500006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/kwrited-5.16.90.tar.xz">kwrited-5.16.90</a></td>
   <td align="right">19kB</td>
   <td><tt>f3bb8637940e30fff1ee881df59341ea11e34e1d8c9e87f476d80566033fe2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/libkscreen-5.16.90.tar.xz">libkscreen-5.16.90</a></td>
   <td align="right">80kB</td>
   <td><tt>b56b1b0e2dd256a4c0ee3ff190656e8d278ead0089abf8692e733ae3442af439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/libksysguard-5.16.90.tar.xz">libksysguard-5.16.90</a></td>
   <td align="right">590kB</td>
   <td><tt>2fb9b94cdfe45964226a62b734f1c7a2b828354f09840f4a197b8ab7774cc2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/milou-5.16.90.tar.xz">milou-5.16.90</a></td>
   <td align="right">62kB</td>
   <td><tt>098c19f1328af14b1f36d2e868c6d8fd315126eae152a7be996f6926974d4337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/oxygen-5.16.90.tar.xz">oxygen-5.16.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>c8058c92bb75f6510559dee33907e6d24c9ac6938b299dba2fb2367239d8c21b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-browser-integration-5.16.90.tar.xz">plasma-browser-integration-5.16.90</a></td>
   <td align="right">139kB</td>
   <td><tt>6d010feaa9fac4f94ed80bc8d7e5866bc145fbb6036cd2563bfe1123a7f08f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-desktop-5.16.90.tar.xz">plasma-desktop-5.16.90</a></td>
   <td align="right">9.0MB</td>
   <td><tt>1e6f568d317d7958486be12c0451c3e6aec6eadf2c1870ce11480bd55fb760b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-integration-5.16.90.tar.xz">plasma-integration-5.16.90</a></td>
   <td align="right">55kB</td>
   <td><tt>3d1f3af46e30500f054b9b4cf01dc4d2789f3af218bf3539ad918a2fb45c9ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-nm-5.16.90.tar.xz">plasma-nm-5.16.90</a></td>
   <td align="right">794kB</td>
   <td><tt>390037aa0c40d21fee008dba1a0d14075276db2175ca5c2718155b3824874d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-pa-5.16.90.tar.xz">plasma-pa-5.16.90</a></td>
   <td align="right">101kB</td>
   <td><tt>db3aba2c82cca32a56ee88a64623c04d047d1e0aecb53eeb7d3bf7d64f039011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-sdk-5.16.90.tar.xz">plasma-sdk-5.16.90</a></td>
   <td align="right">249kB</td>
   <td><tt>6b0241cc63426052af924a31cdb8341526d7c4409852f4de0d417a8c9a7c7644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-tests-5.16.90.tar.xz">plasma-tests-5.16.90</a></td>
   <td align="right">1kB</td>
   <td><tt>e0f499ce07432ed0154b5c35272ae7bb0d81853314c4d8b548665929ef1947df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-thunderbolt-5.16.90.tar.xz">plasma-thunderbolt-5.16.90</a></td>
   <td align="right">46kB</td>
   <td><tt>488682a7755eec24aae784d4cef70eae3dd5cd3fdf4cb8fc1e9ef8e652f96289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-vault-5.16.90.tar.xz">plasma-vault-5.16.90</a></td>
   <td align="right">126kB</td>
   <td><tt>b0871411bfd5b00907df0fbb1d94a053a0cf42600af7cdb323833b4d4ae97d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-workspace-5.16.90.1.tar.xz">plasma-workspace-5.16.90.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>9ddf66e8fcec11829a5ff885ea74dd508de305707b17ed17ab06608d96357bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plasma-workspace-wallpapers-5.16.90.tar.xz">plasma-workspace-wallpapers-5.16.90</a></td>
   <td align="right">32MB</td>
   <td><tt>0d3d474794c36e8dcfb404c5fa30d81b6f1df33004ba6eb9c8a5cbc413970127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/plymouth-kcm-5.16.90.tar.xz">plymouth-kcm-5.16.90</a></td>
   <td align="right">39kB</td>
   <td><tt>bdb24233951bc69c333655c309b9aff4205352080e940ffbf789980b85fd02e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/polkit-kde-agent-1-5.16.90.tar.xz">polkit-kde-agent-1-5.16.90</a></td>
   <td align="right">42kB</td>
   <td><tt>94344faa57fa90f80e86a703d81c921f9bb1e95c2974c38e493a2da14a166478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/powerdevil-5.16.90.tar.xz">powerdevil-5.16.90</a></td>
   <td align="right">581kB</td>
   <td><tt>23af360a24eae989929f5fa7fc23a9917ec90aa3a032e632ba4a37fe491b2b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/sddm-kcm-5.16.90.tar.xz">sddm-kcm-5.16.90</a></td>
   <td align="right">57kB</td>
   <td><tt>ceb699b4b7fc53850eb147a2c9b45287f07324ae48fdd7f30c3acd5c5bd6e090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/systemsettings-5.16.90.tar.xz">systemsettings-5.16.90</a></td>
   <td align="right">168kB</td>
   <td><tt>945803f573426068a1e680adf46f54cce1a56b3aae6b486108d483a19cc6d6ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/user-manager-5.16.90.tar.xz">user-manager-5.16.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8e92772955487665c19cddfcfc142601504f99101b3d5c9c68c5e2e7cbb3267a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.16.90/xdg-desktop-portal-kde-5.16.90.tar.xz">xdg-desktop-portal-kde-5.16.90</a></td>
   <td align="right">61kB</td>
   <td><tt>24ca7b10437c531e0b6c01a6caff5f02a67aa858ad5b79a9cc9122e3ae6c9695</tt></td>
</tr>

</table>
