<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/bluedevil-5.24.4.tar.xz">bluedevil-5.24.4</a></td>
   <td align="right">169kB</td>
   <td><tt>83778e9cd952c6efeb786395d3fb9f5d4e6aa65d2ef2bc02ad7d256a3201f0d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/breeze-5.24.4.tar.xz">breeze-5.24.4</a></td>
   <td align="right">41MB</td>
   <td><tt>e369ee21e6aab1d5e3ae222ecd84bdb59f3d29ce3b61965b498bbfe84c949805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/breeze-grub-5.24.4.tar.xz">breeze-grub-5.24.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6c95ab7d21f29687b3cbcf211dc40a69811c68bd67cf27aa8a00bcd0c52325dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/breeze-gtk-5.24.4.tar.xz">breeze-gtk-5.24.4</a></td>
   <td align="right">42kB</td>
   <td><tt>b2fe8150a8576fb39d26b809e6b9cb06e2c2d2b039558ad75307d62ed857a168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/breeze-plymouth-5.24.4.tar.xz">breeze-plymouth-5.24.4</a></td>
   <td align="right">108kB</td>
   <td><tt>fb8c86afc2a626468dcb5db6f6dd7eaa64cb8797b1f94f0df616100a1f7d170d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/discover-5.24.4.tar.xz">discover-5.24.4</a></td>
   <td align="right">7.8MB</td>
   <td><tt>29291e0b2d2208991a0d4f4521304336016c1d1b605622a3807243168af6b06a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/drkonqi-5.24.4.tar.xz">drkonqi-5.24.4</a></td>
   <td align="right">776kB</td>
   <td><tt>a0a794c486d714daec18e8b056e86167cb13281f6588a8810eb55b6e91f4c7fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kactivitymanagerd-5.24.4.tar.xz">kactivitymanagerd-5.24.4</a></td>
   <td align="right">102kB</td>
   <td><tt>8128371fd75f7dd4ccb2203ad775e6f12db28bbb64047d0fd63eb745d8735529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kde-cli-tools-5.24.4.tar.xz">kde-cli-tools-5.24.4</a></td>
   <td align="right">617kB</td>
   <td><tt>ffe4c8d3f4e97c57801360ba32cb70c961ad5796d56d4f0bae10ab2ec68759f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kdecoration-5.24.4.tar.xz">kdecoration-5.24.4</a></td>
   <td align="right">47kB</td>
   <td><tt>2c999206c51a6a6c5ecda211773276438f0069a2e1c81d4903ae5712c6f28c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kde-gtk-config-5.24.4.tar.xz">kde-gtk-config-5.24.4</a></td>
   <td align="right">69kB</td>
   <td><tt>b17aaad5f96890426a8864ba51f026732007e47fd42c4ce4df3e469b455f570b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kdeplasma-addons-5.24.4.tar.xz">kdeplasma-addons-5.24.4</a></td>
   <td align="right">620kB</td>
   <td><tt>d721d32d16f34ef1066bdf2fcb781d5bc1aca7cf5cdf3a71c6fef2dfe668680d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kgamma5-5.24.4.tar.xz">kgamma5-5.24.4</a></td>
   <td align="right">81kB</td>
   <td><tt>73ed9897b2281a8ddd7b47f063d548fa71b683662a63b5648ba590160bcf3f7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/khotkeys-5.24.4.tar.xz">khotkeys-5.24.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5aac75b05f0b5a63ea924b02645bbfacfe18fef3d5c23182b482ebc5d17f6d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kinfocenter-5.24.4.tar.xz">kinfocenter-5.24.4</a></td>
   <td align="right">702kB</td>
   <td><tt>dc5b84964de4b68e45300477039c656d622a9546340e997eb8249de6a532b838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kmenuedit-5.24.4.tar.xz">kmenuedit-5.24.4</a></td>
   <td align="right">880kB</td>
   <td><tt>147a7e9a15393375c2b22b5dfb025a87f3356cf756cf3b17615ba989bb443466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kscreen-5.24.4.tar.xz">kscreen-5.24.4</a></td>
   <td align="right">134kB</td>
   <td><tt>3048edb7e1231b0d7a33b2e10a202e6fce34e34f47079fc87f8177d7aa871b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kscreenlocker-5.24.4.tar.xz">kscreenlocker-5.24.4</a></td>
   <td align="right">116kB</td>
   <td><tt>fb226273064422f9f73b6b091e26396349e0cfd53a88398b79fa2acd1540ecf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/ksshaskpass-5.24.4.tar.xz">ksshaskpass-5.24.4</a></td>
   <td align="right">24kB</td>
   <td><tt>34c5d4f196d09c4ebe8990d3761bc70059436e272ad46a761e71b5910e0f44dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/ksystemstats-5.24.4.tar.xz">ksystemstats-5.24.4</a></td>
   <td align="right">92kB</td>
   <td><tt>8dc735e9133ab01e537d71121b0e76e078f4fffce2d86b4c5d62c85878ee47dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kwallet-pam-5.24.4.tar.xz">kwallet-pam-5.24.4</a></td>
   <td align="right">20kB</td>
   <td><tt>99d4e1acc24e89376f6eb5fad78f6055b4c3a9fff73459845af32841743bdf68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kwayland-integration-5.24.4.tar.xz">kwayland-integration-5.24.4</a></td>
   <td align="right">24kB</td>
   <td><tt>d2e74baa0e2966b92330b8df7567b0b1cc85a71ea24c3f453da39aed035aceb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kwayland-server-5.24.4.tar.xz">kwayland-server-5.24.4</a></td>
   <td align="right">216kB</td>
   <td><tt>d1790bd7584dce9a36a432819b170ce72d34d5df79083b1b41dfe3e021b6e988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kwin-5.24.4.tar.xz">kwin-5.24.4</a></td>
   <td align="right">6.1MB</td>
   <td><tt>e2142321a9b1189665354838a66baeb2189235b705efca2364777bc3a3698ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/kwrited-5.24.4.tar.xz">kwrited-5.24.4</a></td>
   <td align="right">20kB</td>
   <td><tt>62d700b673102f2740ed34e305902260c7035f5c8cc6ef19494a98f3088c0649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/layer-shell-qt-5.24.4.tar.xz">layer-shell-qt-5.24.4</a></td>
   <td align="right">17kB</td>
   <td><tt>a0979fdb2f61a6d2c68fe2d93573d5b46597021600d748a379d18cb9af711e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/libkscreen-5.24.4.tar.xz">libkscreen-5.24.4</a></td>
   <td align="right">97kB</td>
   <td><tt>016dec6d912b2a733ebdd26bfe5e31029651bd5b4e476d95a541765a68dd67f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/libksysguard-5.24.4.tar.xz">libksysguard-5.24.4</a></td>
   <td align="right">749kB</td>
   <td><tt>76da2a7fb7f760c55111db756d91dd3041721baa8a1f8863ad9e0bc0a6a02402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/milou-5.24.4.tar.xz">milou-5.24.4</a></td>
   <td align="right">47kB</td>
   <td><tt>3109ad6c97415d74fccdfd26681360ff0925e58af7a1c72905437eb99faff37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/oxygen-5.24.4.tar.xz">oxygen-5.24.4</a></td>
   <td align="right">4.4MB</td>
   <td><tt>804d033afab3f16319d92a8e5dacfb2a5797f8661a64029ee9e9b3c0b0f87ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-browser-integration-5.24.4.tar.xz">plasma-browser-integration-5.24.4</a></td>
   <td align="right">217kB</td>
   <td><tt>677af76b6f7072312d63bd8230af6e6920d7b69942ad69cdf0a29356ce695bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-desktop-5.24.4.tar.xz">plasma-desktop-5.24.4</a></td>
   <td align="right">5.9MB</td>
   <td><tt>b0e23046300e49acf93d9181d0c8dda2008a9a843a441af2528a91abc5c7d025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-disks-5.24.4.tar.xz">plasma-disks-5.24.4</a></td>
   <td align="right">86kB</td>
   <td><tt>cf8a33e81b8d3b6b2d94374eb673adec19639eef8c2df803e1721630c67525d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-firewall-5.24.4.tar.xz">plasma-firewall-5.24.4</a></td>
   <td align="right">338kB</td>
   <td><tt>a2bae12766e6536b7cd6d6445368f8249bf79d488d30dc5d57e2aed6442d2f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-integration-5.24.4.tar.xz">plasma-integration-5.24.4</a></td>
   <td align="right">81kB</td>
   <td><tt>73d4993d2c7aeabbb068e8d28821566d04f2dcb882dd1d92feadc2062b3b4db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-mobile-5.24.4.tar.xz">plasma-mobile-5.24.4</a></td>
   <td align="right">115kB</td>
   <td><tt>79037f4157837dfca4d148622e1933b8faab78547076778a244270eac8b2ecc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-nano-5.24.4.tar.xz">plasma-nano-5.24.4</a></td>
   <td align="right">64kB</td>
   <td><tt>7c27fda7efc9faf92ba3ed22e9307e4463fbae1afb1fa2c0c2c34dfa4b26b8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-nm-5.24.4.tar.xz">plasma-nm-5.24.4</a></td>
   <td align="right">904kB</td>
   <td><tt>086c28cfdaa6f4de785662ccd8123cd48b2a333fbaa2ca70b2a6d9dc3622ec2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-pa-5.24.4.tar.xz">plasma-pa-5.24.4</a></td>
   <td align="right">129kB</td>
   <td><tt>ffe5b915e5e1d2e5d4de719502793dd5b91cd9715cc44f82c88fc5ff0556d325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-sdk-5.24.4.tar.xz">plasma-sdk-5.24.4</a></td>
   <td align="right">255kB</td>
   <td><tt>ecf35743a28c350aada480248bbc138b726315e53f36bb39afe5fba0d27d6ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-systemmonitor-5.24.4.tar.xz">plasma-systemmonitor-5.24.4</a></td>
   <td align="right">148kB</td>
   <td><tt>1ff2853be75349892642a0144cc64a15c5f1bffacb0637e8b5c269055ead9a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-tests-5.24.4.tar.xz">plasma-tests-5.24.4</a></td>
   <td align="right">1kB</td>
   <td><tt>47e865b3721bb54876d16412e2998f7ee8d3740b4ed113ef4b123e9e204a42d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-thunderbolt-5.24.4.tar.xz">plasma-thunderbolt-5.24.4</a></td>
   <td align="right">65kB</td>
   <td><tt>1efecdd4b5e3302b37ae28964cd371d404189f7879a9752f000b6df4745b0ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-vault-5.24.4.tar.xz">plasma-vault-5.24.4</a></td>
   <td align="right">173kB</td>
   <td><tt>0169c2b8d48fbfccf132317f62cec342d2f1cbc7352e52a513ca575198f84966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-workspace-5.24.4.tar.xz">plasma-workspace-5.24.4</a></td>
   <td align="right">17MB</td>
   <td><tt>5b0e40b090d6bd1fe1f902a60633e4417ce711b34c32bfd2fce5b16bb9b2ec70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plasma-workspace-wallpapers-5.24.4.tar.xz">plasma-workspace-wallpapers-5.24.4</a></td>
   <td align="right">69MB</td>
   <td><tt>243cf6bb613d30ccb92e183938dcd3e02c1c7a11624a447c35c56a5eac3def42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/plymouth-kcm-5.24.4.tar.xz">plymouth-kcm-5.24.4</a></td>
   <td align="right">38kB</td>
   <td><tt>b9aad1c3b15cc05aef8a07cec8af53cac4f7bb302b8724f98ddf97e97711b068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/polkit-kde-agent-1-5.24.4.tar.xz">polkit-kde-agent-1-5.24.4</a></td>
   <td align="right">47kB</td>
   <td><tt>955246c593d0332bfbe386e81aaf7714e9ac8b8e7743c8c2e4f334b28dd685ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/powerdevil-5.24.4.tar.xz">powerdevil-5.24.4</a></td>
   <td align="right">617kB</td>
   <td><tt>ef70c00e36d4ddbaedeb0efeba68523289e6e112b12951460c8d36075de9546a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/qqc2-breeze-style-5.24.4.tar.xz">qqc2-breeze-style-5.24.4</a></td>
   <td align="right">65kB</td>
   <td><tt>ad4e60357a0a54665d7c2fda0d2e2c23678f843de4c3628ffa1f54bbbb7e0cb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/sddm-kcm-5.24.4.tar.xz">sddm-kcm-5.24.4</a></td>
   <td align="right">79kB</td>
   <td><tt>bef347b9e066a756d71263b19552fbbf9b8a1d6d22861060bdfd1ead5ab9d85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/systemsettings-5.24.4.tar.xz">systemsettings-5.24.4</a></td>
   <td align="right">200kB</td>
   <td><tt>69921f98956b3559f8c37821b67d32ac8d6aef254888c15df8f86f99903e1533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.4/xdg-desktop-portal-kde-5.24.4.tar.xz">xdg-desktop-portal-kde-5.24.4</a></td>
   <td align="right">86kB</td>
   <td><tt>11684916288bb4a452b75004e2d122a4a1264a562f7945af98d466e49c59dc1e</tt></td>
</tr>

</table>
