<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/arts-1.5.5.tar.bz2">arts-1.5.5</a></td>
   <td align="right">944kB</td>
   <td><tt>3b0aa1ee08c6ef2aefd8d2d88d1ec146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdeaccessibility-3.5.5.tar.bz2">kdeaccessibility-3.5.5</a></td>
   <td align="right">8.2MB</td>
   <td><tt>a227e65e012b83c8635f6e16c4dc3259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdeaddons-3.5.5.tar.bz2">kdeaddons-3.5.5</a></td>
   <td align="right">1.5MB</td>
   <td><tt>71c0a690abf8ad0f43135fa887d0b40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdeadmin-3.5.5.tar.bz2">kdeadmin-3.5.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4af595f5d5506521e8b29a1d92ba3409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdeartwork-3.5.5.tar.bz2">kdeartwork-3.5.5</a></td>
   <td align="right">15MB</td>
   <td><tt>8d35156b506cf870eb9641f72a304c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdebase-3.5.5.tar.bz2">kdebase-3.5.5</a></td>
   <td align="right">22MB</td>
   <td><tt>0c685af1cbca75f9c77b3ed231ba0468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdebindings-3.5.5.tar.bz2">kdebindings-3.5.5</a></td>
   <td align="right">5.1MB</td>
   <td><tt>e0da219943407a786c2ceea1605fadd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdeedu-3.5.5.tar.bz2">kdeedu-3.5.5</a></td>
   <td align="right">28MB</td>
   <td><tt>1659863d74a510bee412d0cb404b4542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdegames-3.5.5.tar.bz2">kdegames-3.5.5</a></td>
   <td align="right">10MB</td>
   <td><tt>1db8e3960ffb6af0a8d683756b89efa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdegraphics-3.5.5.tar.bz2">kdegraphics-3.5.5</a></td>
   <td align="right">6.9MB</td>
   <td><tt>cdbe15afc01c5da7af9557e803bbb7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdelibs-3.5.5.tar.bz2">kdelibs-3.5.5</a></td>
   <td align="right">14MB</td>
   <td><tt>2cba792e3b0a766431b837c8ef924117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdemultimedia-3.5.5.tar.bz2">kdemultimedia-3.5.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>fc8f0911050c42aec0636cf3873e22ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdenetwork-3.5.5.tar.bz2">kdenetwork-3.5.5</a></td>
   <td align="right">8.8MB</td>
   <td><tt>a6e642c070cbd50d4a817f6588bf8e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdepim-3.5.5.tar.bz2">kdepim-3.5.5</a></td>
   <td align="right">12MB</td>
   <td><tt>3f2127f74cb496899bb3f1f6f702353b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdesdk-3.5.5.tar.bz2">kdesdk-3.5.5</a></td>
   <td align="right">4.8MB</td>
   <td><tt>d226bf07bf8106f37b4e9e31a7d451f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdetoys-3.5.5.tar.bz2">kdetoys-3.5.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>2b03fd068209cf324396b75334f39aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdeutils-3.5.5.tar.bz2">kdeutils-3.5.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a20a732284a3dcb735665e45f5be532e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdevelop-3.3.5.tar.bz2">kdevelop-3.3.5</a></td>
   <td align="right">7.7MB</td>
   <td><tt>e1bb5566c79022c20d534efae386cfa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.5/src/kdewebdev-3.5.5.tar.bz2">kdewebdev-3.5.5</a></td>
   <td align="right">5.7MB</td>
   <td><tt>d0655fd0286607f4726a82db96f00da3</tt></td>
</tr>

</table>
