<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/arts-1.5.3.tar.bz2">arts-1.5.3</a></td>
   <td align="right">944kB</td>
   <td><tt>1707ce44708a70acecd7a50ef05d365e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdeaccessibility-3.5.3.tar.bz2">kdeaccessibility-3.5.3</a></td>
   <td align="right">8.1MB</td>
   <td><tt>99eadb3a73bc250e96cec370ee79caff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdeaddons-3.5.3.tar.bz2">kdeaddons-3.5.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ea25326c6a775bbfa40d0efabed34c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdeadmin-3.5.3.tar.bz2">kdeadmin-3.5.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>842e74881c89a719423bbd5cc1f4e226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdeartwork-3.5.3.tar.bz2">kdeartwork-3.5.3</a></td>
   <td align="right">15MB</td>
   <td><tt>e0fc78bee18d81b4595c98964227a06c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdebase-3.5.3.tar.bz2">kdebase-3.5.3</a></td>
   <td align="right">22MB</td>
   <td><tt>9cb6b8291c4f3f986e16f72129e8fcd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdebindings-3.5.3.tar.bz2">kdebindings-3.5.3</a></td>
   <td align="right">5.1MB</td>
   <td><tt>5595b2de6593d1d535ba520abeab4580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdeedu-3.5.3.tar.bz2">kdeedu-3.5.3</a></td>
   <td align="right">28MB</td>
   <td><tt>5c9cb7f25c8627772d6de5a3ed550691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdegames-3.5.3.tar.bz2">kdegames-3.5.3</a></td>
   <td align="right">10MB</td>
   <td><tt>17e8a2e28a0cb320486e3dc8ee45665f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdegraphics-3.5.3.tar.bz2">kdegraphics-3.5.3</a></td>
   <td align="right">6.9MB</td>
   <td><tt>56bd5537521dc94633f8effaace523cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdelibs-3.5.3.tar.bz2">kdelibs-3.5.3</a></td>
   <td align="right">14MB</td>
   <td><tt>972c2c6855f912179bd7830bf2ed91d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdemultimedia-3.5.3.tar.bz2">kdemultimedia-3.5.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>61bd938c564e3280034944338955712b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdenetwork-3.5.3.tar.bz2">kdenetwork-3.5.3</a></td>
   <td align="right">7.1MB</td>
   <td><tt>119af91a048c34d9a917a1898f215554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdepim-3.5.3.tar.bz2">kdepim-3.5.3</a></td>
   <td align="right">12MB</td>
   <td><tt>2b83885854a5953bca59508d9a7cf5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdesdk-3.5.3.tar.bz2">kdesdk-3.5.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>75450d8905a2cc612df00927c7f81af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdetoys-3.5.3.tar.bz2">kdetoys-3.5.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>dbce8029253a6151546e3016f299f4ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdeutils-3.5.3.tar.bz2">kdeutils-3.5.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>b3d792c21e9a72bf8a82c5756fcd742d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdevelop-3.3.3.tar.bz2">kdevelop-3.3.3</a></td>
   <td align="right">7.7MB</td>
   <td><tt>89f3ad2b3e97e92bd9421f0d9ae8e427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.3/src/kdewebdev-3.5.3.tar.bz2">kdewebdev-3.5.3</a></td>
   <td align="right">5.7MB</td>
   <td><tt>0eeaac8992c4b473caefcc32d49b79a2</tt></td>
</tr>

</table>
